.icons{
  color:#8AB211 ;
  margin-right:10px
}

#content{
  display: flex;
  justify-content:space-between;
  padding:10px
}

#title{
  color:white;
  padding:10px;
  width:100%;
  margin-left:15px;
  text-transform: capitalize;
}
