<ion-content style="background: linear-gradient(45deg, #4B5149 0%, #286029 35%, #8AB211 100%)">
  <ion-toolbar>
    <div id="content" >
      <ion-buttons slot="start">
        <div style="display: flex;" *ngIf="eventSelected.activity.activity;else adult">
          <div (click)="updateKids()">
            <ion-button large
          ><ion-icon color="light" name="create-outline" size="large"></ion-icon
        ></ion-button>
          </div>
        <div (click)="supprimerKids()">
          <ion-button    large
          ><ion-icon color="light" name="trash-outline" size="large"></ion-icon
        ></ion-button>
        </div>
        </div>
        <ng-template  #adult>
          <div style="display: flex;">
            <div (click)="updateAdult()">
              <ion-button large
              ><ion-icon color="light" name="create-outline" size="large"></ion-icon
        ></ion-button>
            </div>
            <div (click)="supprimerAdult()">
              <ion-button large
          ><ion-icon color="light" name="trash-outline" size="large"></ion-icon
        ></ion-button>
            </div>
          </div>
        </ng-template>

      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button (click)="dismiss()" large
          ><ion-icon color="light" name="close-circle-outline" size="large"></ion-icon
        ></ion-button>
      </ion-buttons>
    </div>
    <ion-title id="title">
      Title : {{ eventSelected.activity.activity ||  eventSelected.activity  }}
    </ion-title>
  </ion-toolbar>





  <ion-item style="display: flex;">
    <ion-icon class="icons" name="map"></ion-icon>
    <p>Place : {{ eventSelected.activity.lieu || eventSelected.lieu }}</p>
  </ion-item>
  <ion-item style="display: flex;">
    <ion-icon class="icons" name="information-circle-outline"></ion-icon>
    <p>Note : {{ eventSelected.activity.notes || eventSelected.notes }}</p>
  </ion-item>
</ion-content>
