#container {

  height: 100vh;
  margin-top: auto;
  margin-bottom: auto;
  /* align-items: baseline; */
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

  $ruler: 16px;
$color-red: #726b6b;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;
ion-content {
  background: none;
  // background-color: DarkGreen;
  --ion-background-color: linear-gradient(300deg, #8EBF25, #3b8c4f, #247238, #247238);
}
body, html {
  background-color:$color-bg;
}
.form-controll{
  background-color: transparent;
  color: $color-white;
  box-shadow: none;
  text-shadow: none;
  font-weight: 500;

}
ion-avatar{
  width: 7em;
  height: 7em;
  box-shadow: 0px 3px 6px 0px black;
}
 input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: $ruler;
}

div, p {
  color: $color-white;
  //text-shadow: 1px 1px 1px $color-white;
}


form {
  padding:  0 $ruler;
  width: $ruler*20;
  margin: 0 auto;
}

.segment {
  padding: $ruler*0.5 0;
  text-align: center;
}

button, ion-input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
}
 ion-select {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  // padding: $ruler;

}

label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

ion-input {
  margin-right: $ruler/2;
  padding:0 0.5em !important;
  border: 2px solid #ccc;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}
ion-select {
  margin-right: $ruler/2;
  padding:0.5em 1em !important;
  border: 2px solid #ccc;
  // box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

button {
  color:#61677C;
  font-weight: bold;
  //box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  margin-bottom:2em;
  &:hover {
    // box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }

  &:active {
    // box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }

  .icon {
    margin-right: $ruler/2;
  }

  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler*3;
    height: $ruler*3;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 $ruler/2;
    font-size: $ruler*1.2;

    .icon {
      margin-right: 0;
    }
  }

  &.red {
    display: block;
    width: 100%;
    color:#3b8c4f;
  }
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
    flex: 1;
  }
}
