<ion-content>
    <div id="container">

        <ion-row class="ion-padding-top ion-justify-content-center">
            <ion-avatar>
                <img
                    src="../../../assets/imgs/logo.jpg">
            </ion-avatar>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <div class="hr"> </div>
        </ion-row>
        <div class="segment">
            <h1>Créer un compte</h1>
        </div>
        <form [formGroup]="registerForm">
            <ion-input type="text" class="form-controll ion-margin-bottom" placeholder="Non et prénom"
                [(ngModel)]="user.name" mdInput formControlName="nameControl" name="name" required>
            </ion-input>
            <ion-input type="email" class="form-controll ion-margin-bottom" placeholder="Adresse email"
                [(ngModel)]="user.email" mdInput formControlName="emailControl" name="email" required></ion-input>
            <ion-input type="password" class="form-controll ion-margin-bottom" placeholder="Mot de passe"
                [(ngModel)]="user.password" mdInput formControlName="passwordControl" name="password" required>
            </ion-input>
            <ion-input type="password" class="form-controll ion-margin-bottom" placeholder="Confirmer le mot de passe"
                [(ngModel)]="user.passwordConfirm" mdInput formControlName="confirmPasswordControl"
                name="confirmepassword" required>
            </ion-input>
            <div class="segment">
                <button (click)="login()" routerLink="/login" class="unit" type="button">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </button>
                <button (click)="SaveUser()" [disabled]="registerForm.invalid" class="unit" type="button">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </button>
               
            </div>
        </form> 
    </div>
</ion-content>