 

  #container strong {
    font-size: 20px;
    line-height: 26px;
  }


  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  #container a {
    text-decoration: none;
  }
  #container {
    height: 800px;
    // background-color: DarkGreen; /* For browsers that do not support gradients */
    // background-image: linear-gradient(135deg,#247238, #247238,  #8EBF25,#8EBF25);
    
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
  }
  // css button
  $ruler: 16px;
  $color-red: #726b6b;
  $color-bg: #EBECF0;
  $color-shadow: #BABECC;
  $color-white: #FFF;


  .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
    }
    .card-title {
      position: absolute;
      top: 36%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
      color: #fff;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }
  }
  .myFooter{
    border-radius: $ruler/2;
    padding-bottom: 05px;
    line-height: 0;
    box-shadow: inset 1px 1px 1px 1px #247238;
    display:inline-flex;
    justify-content: center;
    margin: 0 $ruler*2;
    font-size: $ruler*3.2;
    width: 340px;
  }
  .mygallery{
    border-radius: 6px; 
    display:inline-flex;
  }
  ion-slides {
    height: 100%;
  }
  :host ::ng-deep .swiper-pagination{
    bottom: 5%;
    .swiper-pagination-bullet-active {
      background: #247238;
              width: 10px ;
        height: 10px ;
        opacity: 5.2;
  }
}
ion-toolbar {
  --background: linear-gradient(135deg,#247238, #247238,  #8EBF25,#8EBF25);

}
 
.shadowbox {
 // border: 1px solid #8EBF25;
 // box-shadow: 2px 1px 1px #247238;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

.LogoS{
  display: flex;
  justify-content: center;
  box-shadow: 5px 4px 15px 5px rgba(0,0,0,0.21);
  height: 100px;
  width: 100px;
}

.LogoErp{
 
}
 .title{
  padding-top: 30px;
  margin: 0 20px;
  justify-content: center;
  display: grid;
  text-align: center;
 }


.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: arial, sans-serif;
  max-width: 100%;
  margin: 10px 10px 20px 20px auto;
 // overflow: hidden;
}
img{
  max-width: 100px;
}

.slidemenu label{
  width: 25%;
  text-align: center;
  display: block;
  float: left;
  color: green;
  opacity: 0.2;

}

.slidemenu label:hover{
  cursor: pointer;
  color: green;
}

.slidemenu label span{
  display: block;
  padding: 10px;   
  color: #247238; 
}

.slidemenu label .icon{
  font-size: 30px;
  border: solid 2px #247238;
  text-align: center;
  height: 30px;
  width: 30px;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 50%;
}

/*Bar Style*/

.slider{
  width: 70%;
  height: 5px;
  display: block;
  background: #ccc;
  margin-top: 10px;
  border-radius: 5px;
}

.slider .bar{
  width:50%;
  height: 5px;
  background: green;
  border-radius: 5px;
}


/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}



.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.HeaderFilter{
  //  background-color: #e4e4e4;
   // height: 5%;
   
}
.BadyFilter{

}


 
 #cart-badge {
    position: absolute;
    top: 0px;
    right: 0px;
 }

 .outter-badge {
    position: relative;
    margin: 10px;
    //background: #fff;
    width: 64px;
  }
  .inner-badge-OK {
    display: table;
    position: absolute;
    top: 20px;
    left: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
   

  }
  .inner-badge-OK .badgeCancel{
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    border-radius: 50%;
  }


  .inner-badge-KO {
    display: table;
    position: absolute;
    top: 20px;
    right: -10px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  .inner-badge-KO .badgeCancel{
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
    
  }

  .inner-badge-Tchat {
    display: table;
    position: absolute;
    top: -23px;
    left: -20px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  .inner-badge-Tchat .badgeCancel{
    display: table-cell;
    vertical-align: middle;
    padding: 8px;
  }










// ul {
//   list-style-type: none;
//   width: 500px;
// }

// h3 {
//   font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
// }

// li img {
//   float: left;
//   margin: 0 15px 0 0;
// }

// li p {
//   font: 200 12px/1.5 Georgia, Times New Roman, serif;
// }

// li {
//   padding: 10px;
//   overflow: auto;
// }

// li:hover {
//   background: #eee;
//   cursor: pointer;
// }

// .images {
//     position: relative;
//     display: inline-block;
//   }
  
//   .images .UserPosted {
//     position: absolute;
//     width: 40%;
//     text-align: center;
//     top:10px;
//     left: 0;
//   }

.ZoneShare{
   // margin-top: -5px;
    height: 25px;
    background: #e4e3e3;
    border-radius: 23px;
}
.swiper-slide:not(.swiper-slide-active) > div {
  display:none;
}
ion-slide {
  width: 4rem !important;
  margin-right: -2px !important;
  }
  

  .message-box {

    position: relative;


    & .message-input {
        background: none;
        border: none;
        outline: none !important;
        resize: none;
        /* color: rgba(255, 255, 255, .8);*/
        font-size: 15px;
        height: 24px;
        margin: 0;
        padding-right: 25px;
        width: 400px;
        color: #444;

    }

    textarea:focus:-webkit-placeholder {
        color: transparent;
    }

    & .message-submit {
        background-image: linear-gradient(135deg, #247238, #247238, #8EBF25, #8EBF25);
        position: absolute;
        height: 25px;
        top: 8px;
        left: 10px;
        right: 10px;
        width: 100px;
        font-size: large;
        border-radius: 10px 10px 10px 10px;
        text-align: center;
    }
}

.MyinputUpdate  {
    border: 0;
    outline: 0;
    font-size: $ruler;
    border-radius: 10px;
    padding: 5px 10px;
    background-color:white;
    text-shadow: 1px 1px 0 $color-white;
    //box-shadow: -5px -5px 10px $color-white, 1px 1px 2px;
    width: 94%;
    margin-bottom: 10px;
    margin-left: 8px;
    margin-right: 5px;
 
  }
ion-avatar{
  
  position: relative;
  display: grid;
  justify-content: center;
}

  ion-card{
    box-shadow: -2px 5px 15px 5px rgba(0,0,0,0.22);
  }

  ion-content{
    background:none ;
--background:rgb(236, 236, 236);
  }

  .catBtn{
    background-image: linear-gradient(135deg, #247238, #247238, #8EBF25, #8EBF25);
  }