<app-header title="Politiques d'utilisation" [isParam]="true"></app-header>

<ion-content>
  <div>
    <h1>Politique d’utilisation des données
    </h1>
    La présente politique décrit les informations que nous traitons pour le fonctionnement de
    Sport’up
    <h3>Quels types d’informations recueillons-nous ?</h3>
    Pour fournir les Produits sport’up, nous devons traiter des informations vous concernant. Les
    types d’informations que nous recueillons dépendent de la manière dont vous utilisez nos
    Produits. Apprenez comment accéder aux informations que nous recueillons et comment les
    supprimer en consultant les Paramètres
    <h5>Ce que vous et d’autres personnes faites et fournissez.
    </h5>
    <h6>• Informations et contenus que vous fournissez : </h6> Nous recueillons le contenu, les
    communications ainsi que d’autres informations que vous fournissez lorsque vous
    utilisez nos Produits, notamment lorsque vous créez un compte, lorsque vous créez ou
    partagez du contenu, ou lorsque vous communiquez avec d’autres personnes ou leur
    envoyez des messages. Cela peut comprendre des informations présentes dans le
    contenu que vous fournissez (par exemple, des métadonnées) ou concernant un tel
    contenu, telles que le lieu d’une photo ou la date à laquelle un fichier a été créé. Cela
    peut également comprendre ce que vous voyez au moyen des fonctionnalités que nous
    fournissons, telles que notre appareil photo, de sorte que nous puissions proposer des
    masques et des filtres que vous pourriez aimer ou vous donner des conseils sur
    l’utilisation des formats de l’appareil photo. Nos systèmes traitent automatiquement le
    contenu et les communications que vous et d’autres fournissez afin d’analyser le
    contexte. Apprenez-en davantage sur la manière de gérer les personnes qui peuvent
    accéder aux éléments que vous partagez.
    <h6>• Données bénéficiant de protections spéciales :</h6> vous pouvez choisir de fournir des
    informations dans les champs de votre profil ou dans des évènements marquants à
    propos de vos croyances religieuses, de vos opinions politiques, des personnes par
    lesquelles vous êtes « intéressé(e) » ou de votre santé. Ces informations et d’autres
    (telle que l’origine ethnique, les croyances philosophiques ou l’affiliation à un syndicat
    professionnel) pourraient être soumises à des protections spéciales conformément à
    la législation de votre pays.
    <h6> • Réseaux et connexions :</h6> Nous recueillons des informations sur les personnes,
    les Pages, les comptes, les hashtags et les groupes avec lesquels vous êtes en
    contact, ainsi que la manière dont vous interagissez avec eux sur nos Produits, par
    exemple, les personnes avec lesquelles vous communiquez le plus ou les groupes
    dont vous faites partie
    <h6> • Votre utilisation :</h6> Nous recueillons des informations concernant la manière dont vous
    utilisez nos Produits, telles que les types de contenu que vous consultez ou avec
    lesquels vous interagissez, les fonctionnalités que vous utilisez, les actions que vous
    réalisez, les personnes ou les comptes avec lesquels vous interagissez, et l’heure,
    la fréquence et la durée de vos activités. Par exemple, nous enregistrons quand vous
    utilisez et quand vous avez utilisé pour la dernière fois nos Produits, ainsi que les
    publications, les vidéos ou tout autre contenu que vous visualisez sur nos Produits.
    Nous recueillons également des informations sur la manière dont vous utilisez des
    fonctionnalités telles que notre appareil photo.
    <h6>• Informations à propos des transactions réalisées sur nos Produits :</h6> Si vous
    utilisez nos Produits pour effectuer des achats ou toute autre transaction financière
    (par exemple, lorsque vous effectuez un achat dans un jeu ou lorsque vous faites
    un don), nous recueillons des données concernant cet achat ou cette transaction.
    Ceci comprend vos informations de paiement, telles que le numéro de votre carte de
    crédit ou de débit et d’autres informations concernant votre carte, d’autres
    informations de compte et d’authentification, ainsi que des données de facturation et
    de livraison, et vos coordonnées.
    <h6>• Les activités d’autres personnes et les informations qu’elles fournissent vous
      concernant :</h6> Nous recevons et analysons également le contenu, les
    communications et les informations que d’autres personnes fournissent lorsqu’elles
    utilisent nos Produits. Il peut s’agir d’informations vous concernant, par exemple
    lorsque d’autres personnes partagent ou commentent une photo de vous, vous
    envoient un message, ou téléchargent, synchronisent ou importent vos coordonnées.
    Informations sur les appareils
    Comme décrit ci-dessous, nous recueillons des informations depuis et concernant les
    ordinateurs connectés et les autres appareils connectés au web que vous utilisez et qui
    s’intègrent à nos Produits, et nous combinons ces informations sur les différents appareils que
    vous utilisez. Par exemple, nous utilisons les informations recueillies concernant votre
    utilisation de nos Produits sur votre téléphone afin de mieux personnaliser le contenu
    (notamment les publicités) ou les fonctionnalités qui s’affichent lorsque vous utilisez nos
    Produits sur un autre appareil, notamment votre ordinateur portable ou votre tablette, ou afin
    d’évaluer si vous avez effectué sur un autre appareil une action en réaction à une publicité
    que nous vous avions montrée sur votre téléphone.
    <h6>Les informations que nous obtenons depuis ces appareils comprennent :
    </h6>
    • Attributs des appareils : des informations telles que le système d’exploitation, les
    versions matérielles et logicielles, le niveau de batterie, l’intensité du signal, l’espace
    de stockage disponible, le type de navigateur, le nom et le type des applications et
    des fichiers, ainsi que les plugins.
    • Activités sur l’appareil : les informations concernant les opérations et les
    comportements sur l’appareil, par exemple, lorsqu’une fenêtre est mise au premier
    plan ou en arrière-plan, ainsi que les mouvements de la souris (permettant de
    différencier les humains des bots).
    • Identifiants : les identifiants uniques, identifiants d’appareils et autres identifiants,
    notamment ceux provenant de jeux, d’applications ou de comptes que vous utilisez,
    et les identifiants d’appareils familiaux (ou autres identifiants associés à un même
    appareil ou compte).
    • Signaux des appareils : signaux Bluetooth et informations concernant les points
    d’accès Wi-Fi, les balises et les tours de télécommunication à proximité.
    • Données issues des paramètres de l’appareil : les informations que vous nous
    autorisez à recevoir par le biais des paramètres de l’appareil que vous activez,
    notamment l’accès à votre localisation GPS, à votre appareil photo ou à vos photos.
    • Réseau et connexion : des informations telles que le nom de votre opérateur mobile
    ou de votre fournisseur d’accès à Internet, votre langue, votre fuseau horaire, votre
    numéro de téléphone mobile, votre adresse IP, votre vitesse de connexion et, dans
    certains cas, des informations concernant d’autres appareils situés à proximité ou
    sur votre réseau
    • Données issues des cookies : données provenant des cookies enregistrés sur votre
    appareil, notamment les identifiants et paramètres des cookies.
    <h5> Comment utilisons-nous ces informations ?</h5>
    <h6>- Proposer, personnaliser et améliorer nos Produits. </h6>
    Nous utilisons les informations à notre disposition pour fournir nos Produits, notamment pour
    en personnaliser les fonctionnalités et le contenu (notamment votre Fil d’actualité, les Stories
    et les publicités) et pour vous faire des suggestions (comme des groupes ou
    des évènements susceptibles de vous intéresser ou des sujets que vous pourriez avoir envie
    de suivre) sur nos Produits et en dehors. Pour créer des Produits personnalisés à la fois
    uniques et pertinents, nous utilisons vos connexions, vos préférences, vos centres d’intérêt et
    vos activités à partir des données que nous recueillons, des informations que vous ou des tiers
    nous fournissez et d’autres renseignements (notamment les données bénéficiant de
    protections spéciales que vous choisissez de nous communiquer). Nous nous servons
    également des données concernant votre utilisation de nos Produits et vos interactions avec
    ceux-ci, ainsi que des données concernant les personnes, les lieux ou les éléments avec
    lesquels vous êtes connecté(e) ou qui vous intéressent sur nos Produits et en dehors.
    <h6>- Communiquer avec vous. </h6>
    Nous utilisons les informations à notre disposition pour vous envoyer des communications
    commerciales, vous parler de nos Produits et vous faire part de nos conditions et de nos
    règlements. Nous nous servons également de vos informations pour vous répondre lorsque
    vous nous contactez.
    <h6>- Faire de la recherche et innover pour le bien-être social.
    </h6>
    Nous utilisons les informations à notre disposition (notamment celles de partenaires de
    recherches avec lesquels nous collaborons) pour orienter et appuyer la recherche et
    l’innovation sur des sujets de bien-être social général, d’avancement technologique, d’intérêt
    public, de santé et de bien-être.
    <h6>- Personnes et comptes avec lesquels vous communiquez et partagez du contenu</h6>
    Lorsque vous partagez et communiquez à l’aide de nos Produits, vous avez la possibilité de
    choisir l’audience autorisée à voir ce que vous partagez. Par exemple, lorsque vous publiez
    vous sélectionnez l’audience de votre publication en choisissant un groupe, tous vos amis,
    tout le monde ou une liste de personnes personnalisée. Votre réseau peut également voir les
    actions que vous avez effectuées sur nos Produits, notamment vos interactions avec des
    publicités et du contenu sponsorisé. Nous permettons également aux autres comptes de voir
    les personnes qui ont consulté leurs actualités ou leurs Stories.
    Les informations publiques peuvent être vues par tout le monde, sur nos Produits ou en
    dehors, toute information publique que vous partagez avec tout le monde, les informations
    igurant dans votre profil public, ainsi que le contenu que vous partagez sur une Page, compte
    public ou sur un autre forum public. Vous, d’autres personnes utilisant Sport’up, et nous
    pouvons accorder un accès à des informations publiques ou envoyer de telles informations à
    n’importe qui sur nos produits ou en dehors, y compris sur les autres Produits des entités
    Sport’up, dans les résultats de recherche ou par le biais des outils et des API. Il est également
    possible de consulter, de repartager ou de télécharger les informations publiques au moyen
    de services tiers, notamment les moteurs de recherche, les API, de sites web et d’autres
    services intégrés dans nos Produits.
    <h6>- Découvrez quelles informations sont publiques et comment contrôler votre
      visibilité sur Sport’up/</h6>
    <h6>• Contenu vous concernant partager ou repartagé par d’autres personnes
    </h6>
    Vous devez réfléchir aux personnes avec lesquelles vous choisissez de partager du contenu,
    car ces personnes qui peuvent voir votre activité sur nos Produits peuvent ensuite la partager
    avec d’autres gens sur nos Produits et en dehors, y compris avec des individus et des
    entreprises n’appartenant pas à l’audience avec laquelle vous partagez votre contenu. Par
    exemple, lorsque vous partagez une publication avec des amis ou des comptes particuliers ou
    leur envoyez un message, ils peuvent télécharger ce contenu, en faire une capture d’écran ou
    repartager ce contenu avec d’autres personnes sur nos Produits ou en dehors, en personne
    ou dans le cadre d’expériences de réalité virtuelle. En outre, lorsque vous commentez la
    publication d’une autre personne ou réagissez à son contenu, votre commentaire ou votre
    réaction est visible par tous les individus qui peuvent voir le contenu de cette autre personne,
    et l’autre personne peut modifier l’audience ultérieurement.
    Les gens peuvent également utiliser nos Produits pour créer et partager du contenu vous
    concernant avec l’audience de leur choix. Par exemple, ces personnes peuvent partager une
    photo de vous dans une actualité, vous mentionner ou vous identifier dans un lieu dans une
    publication, ou partager des informations vous concernant dans leurs publications ou leurs
    messages. Si ce que d’autres personnes ont partagé à votre sujet sur nos Produits vous
    dérange, signaler du contenu.
    <h6>• Informations relatives à votre statut actif ou à votre présence sur nos Produits.
    </h6>
    Les membres de votre réseau peuvent voir des signaux leur indiquant si vous êtes actif ou non
    sur nos Produits, y compris si vous êtes actuellement actif sur sport’up, ou à quel moment
    vous avez utilisé nos Produits pour la dernière fois.
    <h6>• Nouveau propriétaire.
    </h6>
    Si les droits de propriété ou le contrôle d’une partie ou de l’intégralité de nos Produits ou de
    leurs éléments changent, nous avons la possibilité de communiquer vos informations au
    nouveau propriétaire.
    <h6>• Partage avec des partenaires tiers
    </h6>
    Nous collaborons avec des partenaires tiers qui nous aident à fournir et à améliorer nos
    Produits ou qui utilisent les outils professionnels Sport’up pour développer leur activité, ce qui
    nous permet d’exploiter nos sociétés et de proposer des services gratuits dans le monde
    entier. Nous ne vendons aucune de vos informations à quiconque et nous ne le ferons jamais.
    Nous imposons également des restrictions strictes quant à la façon dont les partenaires
    peuvent utiliser et révéler les données que nous leur communiquons. Voici les types de tiers
    avec lesquels nous partageons des informations :
    <h6>• Partenaires qui utilisent le service d’analyse.
    </h6>
    Nous fournissons des statistiques et des informations (insights) agrégées qui permettent aux
    individus et aux entreprises de comprendre la façon dont les gens interagissent avec leurs
    publications, leurs annonces, leurs Pages, leurs vidéos et tout autre contenu sur les Produits
    sport’up et en dehors. Par exemple, les administrateurs de Pages et les profils professionnels
    reçoivent des informations à propos du nombre de personnes ou de comptes qui ont consulté
    ou commenté leurs publications ou réagi à celles-ci, ainsi que des informations
    démographiques agrégées et d’autres renseignements qui les aident à comprendre les
    interactions avec leur Page ou leur compte.
    <h6>• Annonceurs.
    </h6>
    Nous fournissons aux annonceurs des rapports sur les types de personnes qui voient leurs
    publicités et sur les performances de leurs publicités, mais nous ne partageons pas
    d’informations permettant de vous identifier personnellement (des informations telles que votre
    nom ou votre adresse e-mail qui peuvent être en elles-mêmes utilisées pour vous contacter
    ou vous identifier), sauf si vous nous en donnez l’autorisation. Par exemple, nous
    communiquerons aux annonceurs des informations générales concernant la démographie et
    les centres d’intérêt pour les aider à mieux comprendre leur audience..
    <h6>• Partenaires de mesure.
    </h6>
    Nous partageons des informations vous concernant avec des entreprises qui les regroupent
    pour fournir des analyses et des rapports de mesure à nos partenaires.
    <h6>• Partenaires proposant des biens et des services sur nos Produits.
    </h6>
    Lorsque vous vous abonnez pour recevoir du contenu payant, ou lorsque vous effectuez un
    achat auprès d’un vendeur sur nos Produits, le créateur du contenu ou le vendeur peuvent
    recevoir vos informations publiques et d’autres informations que vous leur communiquez, ainsi
    que les renseignements nécessaires pour finaliser la transaction, notamment vos
    renseignements d’expédition et vos coordonnées.
    <h6>• Fournisseurs et prestataires de services.
    </h6>
    Nous donnons des informations et du contenu aux fournisseurs et prestataires de services qui
    soutiennent nos activités, notamment en proposant des services d’infrastructure technique, en
    analysant l’utilisation de nos Produits, en fournissant un service à la clientèle, en facilitant les
    processus de paiement ou en réalisant des sondages.
    <h6>• Chercheurs et universitaires.
    </h6>
    Nous communiquons également des informations et du contenu à des partenaires de
    recherche et à des universitaires pour réaliser des études faisant progresser l’érudition et
    l’innovation qui soutiennent notre activité ou notre mission et améliorant la découverte et
    l’innovation dans les domaines du bien-être social général, de l’avancement technologique, de
    l’intérêt public, de la santé et du bien-être.
    <h6>• Forces de l’ordre ou demandes légales.
    </h6>
    Nous partageons des informations avec les forces de l’ordre ou en réponse à des demandes
    légales dans les circonstances décrites ci-dessous.
    Pour en savoir plus sur la façon de contrôler les informations vous concernant que vous ou
    d’autres personnes partagez avec des partenaires tiers, consultez les paramètre sport’up
    <h3>Comment puis-je gérer ou supprimer les informations me
      concernant ?</h3>
    Nous vous offrons la possibilité de consulter, de rectifier, de transférer et d’effacer vos
    données. Pour en savoir plus, consultez les paramètre sport’up.
    Nous stockons les données jusqu’à ce qu’il ne soit plus nécessaire de fournir nos services et
    nos Produits sport’up, ou jusqu’à ce que votre compte soit supprimé, selon la première de ces
    éventualités. Il s’agit d’une décision au cas par cas qui dépend d’aspects tels que la nature
    des données, la raison de leur collecte et de leur traitement et les besoins de conservations
    légaux ou opérationnels concernés. Par exemple, lorsque vous faites une recherche, vous
    pouvez consulter et supprimer cette recherche de votre historique de recherche à tout moment,
    mais l’enregistrement de cette recherche n’est supprimé qu’au bout de 6 mois. Si vous
    envoyez une copie de votre pièce d’identité officielle à des fins de vérification de votre compte,
    nous supprimons cette copie 30 jours après l’examen, sauf disposition contraire.
    Lorsque vous supprimez votre compte, nous supprimons le contenu que vous avez publié,
    comme vos photos et vos statuts ; et vous ne pourrez plus récupérer ces informations par la
    suite. Les informations vous concernant que d’autres personnes ont partagées ne font pas
    partie de votre compte et ne seront pas supprimées. Si vous ne souhaitez pas supprimer votre
    compte, mais plutôt ne plus utiliser les Produits temporairement, vous pouvez désactiver votre
    compte. Pour supprimer votre compte à tout moment, n’hésitez pas à consulter les paramètre
    sport’up.
    <h3>Comment procédons-nous pour répondre aux demandes
      légales et pour éviter tout risque de dommage ?</h3>
    Nous accédons à vos informations, les conservons et les partageons avec les organismes de
    réglementation, les autorités judiciaires ou d’autres :
    • pour répondre à une demande légale (telle qu’un mandat de perquisition, une décision
    de justice ou une assignation à témoin) si nous jugeons en toute bonne foi que la loi
    nous demande de le faire : cela peut inclure la réponse à des demandes légales
    provenant de juridictions, lorsque nous avons toutes les raisons de penser que la
    réponse est requise par la loi de cette juridiction, qu’elle s’applique aux personnes
    qui utilisent le service et qui dépendent de cette juridiction et qu’elle est conforme aux
    normes internationalement reconnues.
    • Lorsque nous avons des raisons de penser en toute bonne foi que cela est nécessaire
    pour détecter, empêcher et maîtriser la fraude, l’utilisation non autorisée des
    Produits, des violations de nos conditions ou règlements, ou toutes autres activités
    dangereuses ou illégales ; pour nous protéger nous-mêmes (notamment nos droits,
    notre propriété ou nos Produits), vous ou d’autres, notamment dans le cadre
    d’enquêtes ou de demandes réglementaires ; ou pour éviter tout décès ou toute
    blessure corporelle imminente. Par exemple, le cas échéant, nous fournissons des
    informations à des partenaires tiers et nous recevons des informations desdits
    partenaires à propos de la fiabilité de votre compte pour éviter une fraude, un abus
    ou toute autre activité dommageable dans nos Produits comme en dehors de ceuxci.
    Les informations vous concernant que nous recevons (notamment les données de
    transactions financières liées aux achats effectués) peuvent être consultées et conservées
    pendant une période prolongée lorsqu’elles font l’objet d’une demande ou d’une obligation
    légale, d’une enquête gouvernementale ou d’enquêtes sur d’éventuelles violations de nos
    conditions d’utilisation ou de nos règlements, ou pour éviter tout autre dommage. Nous
    conservons également pendant une durée minimale d’un an les informations des comptes
    désactivés suite à une violation des conditions d’utilisation, et ce, afin d’éviter les abus répétés
    ou d’autres violations des conditions d’utilisation.
    <h3>Comment gérons-nous et transférons-nous les données
      dans le cadre de nos services internationaux ?</h3>
    Nous partageons des informations à l’international, à la fois en interne avec les Entités sport’up
    et en externe avec nos partenaires et avec ceux avec qui vous communiquez et partagez des
    contenus dans le monde entier, conformément à ce règlement. Vos informations peuvent, par
    exemple, être transférées ou transmises dans votre pays ou dans d’autres pays en dehors de
    celui où vous vivez, ou stockées et traitées dans l’un de ces pays aux fins décrites dans le
    présent règlement. Ces transferts de données sont nécessaires pour fournir les services
    énoncés dans les Conditions d’utilisation de sport’up et les Conditions d’utilisation, et afin
    d’exploiter et de vous fournir nos Produits dans le monde entier. Nous utilisons des clauses
    contractuelles standard, nous nous fions aux décisions d’adéquation de la Commission
    européenne concernant certains pays, le cas échéant, et nous obtenons votre consentement
    pour ces transferts de données vers d’autres pays.
    <h3>Comment procédons-nous pour vous aviser des
      modifications apportées à la présente politique ?</h3>
    Nous vous aviserons de toute modification importante apportée à la présente politique et vous
    donnerons la possibilité de consulter la version révisée avant de continuer à utiliser nos
    Produits.
  </div>
</ion-content>