<ion-header>


  <ion-toolbar color="secondary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">

      </ion-back-button>
    </ion-buttons>

    <ion-title class="scan">Scan</ion-title>
  </ion-toolbar>

</ion-header>

<ion-button class="button-bottom" slot="end" color="light" size="small" shape="round" (click)="presentPopover($event)">
  Resultat
</ion-button>




<!--
  <ion-icon name="ios-arrow-back"></ion-icon>
  <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
<ion-button expand="block" (click)="return()">return</ion-button>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Ionic App</title>

  <base href="/" />

  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />

  <link rel="icon" type="image/png" href="assets/icon/favicon.png" />



  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />

  <script src="cordova.js"></script>
  <script src="three.min.js"></script>
</head>

<body>

</body>

</html>-->
