<app-header [title]="title" [isDetails]="true" [isOption]="true"></app-header>


<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <h5>Bienvenue sur votre onglet des hobbies</h5>
  <h6>rechercher des personnes selon votre activité préférée</h6>


  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTwo,slideWithNav2)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderTwo.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="10">

        <ion-slides pager="true" autoplay="3000" loop="true" [options]="slideOptsTwo" #slideWithNav2
          (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)" style="height: 200px;">

          <ion-slide *ngFor="let item of HobbiesData">
            <div class="container">
              <img src={{item.imgsrc}}>

              <div class="centered">{{item.hobbiename}}</div>
            </div>
          </ion-slide>



        </ion-slides>
      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderTwo.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-searchbar placeholder="rechercher" [(ngModel)]="recherche"></ion-searchbar>

  <div style="text-align: center;margin: 20px auto">
    <ion-card *ngFor="let user of userlist | filter : recherche;let i=index; " scrollY="true"
      style="font-size:20px; width : 100%;display:flex;align-items: center; justify-content:space-between">
      <ion-grid>
        <ion-row>
      <ion-col size="4" style="   display: flex;
      align-items: center;">
        <h4 style="margin-left:40px;" (click)="redirectToprofile(user._id,user.role)">{{user.name}}</h4>

      </ion-col>
   
    
        <ng-container *ngFor="let item2 of buttonColor">
          <ng-container *ngIf="item2.iduser===user._id">

         
         
             
                <ion-col size="2">
                  <ion-button *ngIf="item2.etat==='no'" expand="block"  id="dejasuivi"  (click)="buttonSuivre(user._id)" >S'abonner</ion-button>
                  <ion-button expand="block" *ngIf="item2.etat==='yes'"  type="button" id="bloquer" style="background-color: #e64646c4;" (click)="buttonBlock()" >
                    Demande en cours
                  </ion-button>
                </ion-col>
     



            </ng-container>
            

        </ng-container>
      </ion-row>
    </ion-grid>



    </ion-card>
  </div>


</ion-content>