<app-header [title]="title" [isDetails]="true" [isOption]="true"></app-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <h5>Bienvenue sur votre onglet des hobbies</h5>
  <ion-grid>
    <!--
    <ion-searchbar [(ngModel)]="recherche"></ion-searchbar>
    -->
    <div class="slides">
      <img src="../../assets/svg/arrowLeft.svg" class="arrow" [class.disabled]="sliderTwo.isBeginningSlide"
        (click)="slidePrev(sliderTwo,slideWithNav2)" alt="">

      <ion-col>
        <ion-slides [options]="slideOptsTwo" #slideWithNav2 loop="true"
          (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)">
          <ion-slide *ngFor="let item of hobbies  | filter : recherche; ">
            <div class="container">
              <img class="hobby" src="{{apiImgHobby + item.imgsrc}}">
              <div class="centered">{{item.hobby }}</div>
            </div>

          </ion-slide>
        </ion-slides>
      </ion-col>
      <img src="../../assets/svg/arrowRight.svg" class="arrow" (click)="slideNext(sliderTwo,slideWithNav2)"
        [class.disabled]="sliderTwo.isEndSlide" alt="">
    </div>
  </ion-grid>
  <h6>rechercher des personnes selon leurs acitivités</h6>

  <ion-searchbar [(ngModel)]="recherche2"></ion-searchbar>

  <div class="users">
    <div *ngFor="let user of userlist | filter : recherche2;let i=index; " scrollY="true" class="userName">
      <h4 (click)="redirectToprofile(user.user._id,user.user.role)">{{
        user.user.name}}
      </h4>
      <!--
            <ion-button *ngIf="recherche2 === user.user.name" expand="block" id="dejasuivi"
            (click)="buttonSuivre(user.user._id)">S'abonner</ion-button>
        -->
    </div>
    <h4 *ngIf="userlist.length === 0"> {{searchResult}} </h4>
  </div>
</ion-content>
