<app-header [title]="title" [isDetails]="true" [isOption]="true"></app-header>


<ion-content>

  <h5>Bienvenue sur votre onglet des hobbys</h5>

  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderTwo,slideWithNav2)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderTwo.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="10">

        <ion-slides pager="true" autoplay="3000" loop="true" [options]="slideOptsTwo" #slideWithNav2          (ionSlideDidChange)="SlideDidChange(sliderTwo,slideWithNav2)" style="height: 200px;" >
     
          <ion-slide  *ngFor="let item of HobbiesData">
            <div class="container">
              <img src={{item.imgsrc}}>
            
              <div class="centered">{{item.hobbiename}}</div>
            </div>
                    </ion-slide>
  
  

        </ion-slides>
      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderTwo,slideWithNav2)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderTwo.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-searchbar  placeholder="" ></ion-searchbar>

 <div  style="text-align: center;margin: 20px auto">

 
  <ion-label > {{sportname}}</ion-label><br>
  <ion-label >Description</ion-label>
 </div>
 <ion-button expand="block" >S'abonner</ion-button>


</ion-content>
