


 // Slider Style START 
.custon-nav{
   height: 48px;
   width: 20px;
   cursor: pointer;
 
   vertical-align: middle;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
 }
 .prev-icon-custom{
   background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll 0px 0px;
 }
 .prev-icon-custom.disabled{
   opacity: 0.4;
   cursor: default;
 }
 .next-icon-custom{
   background: url(https://freakyjolly.com/demo/jquery/OwlCarousel2/nav-icon.png) no-repeat scroll -32px 0px;
 }
 .next-icon-custom.disabled{
   opacity: 0.4;
   cursor: default;
 }
 .slider-nav{
   ion-icon{
       height: 100%;
   }
 }
 
 .slide-text{
   position: absolute;
   color: white;
   bottom: 30px;
 }

 ion-slide{
  img {
   
  }
  border-radius: 50%
 }
 
 //awel wahda
 .swiper-slide-active{
  //border: 10px solid red;
  img {
  }
 }

 .swiper-slide{
 // border: 10px solid blue;

  img {
    border-radius: 50%;
    opacity:0.5;
    min-height: 63%;
    object-fit: cover;
  }
 }// Slider Style STOP

 //eli fel west
  .swiper-slide-next{
   //border: 20px solid green;
  img {
    box-shadow:0px 6px 12px 1px;
    opacity:1;



  }
 }


 ion-searchbar{
  width: 329px;
  text-align: center;
  margin: 0 auto;
 }

 ion-label{
   color:#cccccc;
   font-size: 25px;
 }

 ion-button {

  --background:  linear-gradient(135deg, #8EBF25,#8EBF25,#247238, #247238);

  z-index: 2;
  height: 32px;
  margin: 50px auto;
  width: 130px;
}

.slides-md { 
  --bullet-background-active: linear-gradient(135deg, #8EBF25,#8EBF25,#247238, #247238);
}

