.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;

}

// Slider Style START
.custon-nav {
  height: 48px;
  width: 20px;
  cursor: pointer;

  vertical-align: middle;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}


.slider-nav {
  ion-icon {
    height: 100%;
  }
}

.slide-text {
  position: absolute;
  color: white;
  bottom: 30px;
}

ion-slide {
  img {}

  border-radius: 50%
}

.swiper-slide {

  img {
    border-radius: 50%;
    opacity: 0.5;
    object-fit: cover;
    height:130px !important;
    width:130px
  }
}

// Slider Style STOP

//eli fel west
.swiper-slide-next {

  img {
    box-shadow: 0px 6px 12px 1px;
    opacity: 1;
  }
}


ion-searchbar {
  width: 329px;
  text-align: center;
  margin: 36px auto;
}

ion-label {
  color: #cccccc;
  font-size: 25px;
}

#dejasuivi {

  --background: linear-gradient(135deg, #8EBF25, #8EBF25, #247238, #247238);

  z-index: 2;
  height: 32px;
  margin: 50px auto;
  width: 130px;
}


#bloquer {

  --background: #8c8f8a;
  z-index: 2;
  height: 32px;
  margin: 50px auto;
  width: 160px;
}

.slides-md {
  --bullet-background-active: linear-gradient(135deg, #8EBF25, #8EBF25, #247238, #247238);
}

h5 {
  text-align: center;
  margin: 0 auto;
  color: #cccccc;
  margin: 40px;
  font-size: 20px;
}

h6 {
  text-align: center;
  margin: 0 auto;
  color: #e4c1c1;
  margin: 40px;
}


.data-selected {
  background-color: #e9eaea;
}
.slides{
display: flex;
align-items: center;
width: 95%;
}
.arrow{
width: 20px;
height: 20px;
}

.users{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
text-align: center;
}
.userName{
  width: 90%;
  height: 50px;
  background-color: #d8e8b6;
  border-radius: 20px;
  box-shadow: #c9c9c7;
  margin-bottom: 5px;
  }

