
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click)="closeModal()" >
      <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
    </ion-button>
    <ion-title style="--color:white;">Events</ion-title>
  </ion-buttons>
  </ion-toolbar>
</ion-header> 

 <ion-content > 
   <div style="margin: 30px;">
    <ion-card>
      <div>
        <ion-title>
         <b>Cours de natation adulte</b> 
        </ion-title>
      </div>
      <ion-card-content>
        <div  >
          <b>1/1/2021</b>
        </div>
  
        <p>Salle de sport california centre uban</p>
        <div>
  
        </div>
  
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-card-header>
        <ion-title>
          Cours de natation adulte
        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <b>1/1/2021</b>
        <p>Salle de sport california centre uban</p>
        <div>
  
        </div>
  
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-title>
          Cours de natation adulte
        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <b>1/1/2021</b>
        <p>Salle de sport california centre uban</p>
        <div>
  
        </div>
  
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-title>
          Cours de natation adulte
        </ion-title>
      </ion-card-header>
      <ion-card-content>
        <b>1/1/2021</b>
        <p>Salle de sport california centre uban</p>
        <div>
  
        </div>
  
      </ion-card-content>
    </ion-card>
   </div>
  
</ion-content>