<ion-content>
<ion-header class="ion-text-center"  style="padding: 10px;">
  Evenements
  <button ion-button (click)="closeModal()" >X</button>
</ion-header>
<ion-card>
  <ion-card-header>
    <ion-title>
      Cours de natation adulte
    </ion-title>
  </ion-card-header>
  <ion-card-content>
                <b>1/1/2021</b>
                <p>Salle de sport california centre uban</p>
   <div>

   </div>
 
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header >
    <ion-title>
      Cours de natation adulte
    </ion-title>
  </ion-card-header>
  <ion-card-content>
    <b>1/1/2021</b>
                <p>Salle de sport california centre uban</p>
   <div>

   </div>
 
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-title>
      Cours de natation adulte
    </ion-title>
  </ion-card-header>
  <ion-card-content>
    <b>1/1/2021</b>
                <p>Salle de sport california centre uban</p>
   <div>

   </div>
 
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-title>
      Cours de natation adulte
    </ion-title>
  </ion-card-header>
  <ion-card-content>
    <b>1/1/2021</b>
                <p>Salle de sport california centre uban</p>
   <div>

   </div>
 
  </ion-card-content>
</ion-card>
</ion-content>
