<ion-content>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" large>
        <ion-icon name="close-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
asfour
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" *ngFor="let mediafile of mediafiles">
      <img
        *ngIf="get_url_extension(mediafile?.file_name).includes('png', 'jpeg')"
        src="{{ apiPost + mediafile?.file_name }}"
      />

      <video
        *ngIf="get_url_extension(mediafile?.file_name).includes('mp4', 'avi')"
        controls
        width="100%"
      >
        <source src="{{ apiPost + mediafile?.file_name }}" type="video/mp4" />
      </video>
      <ion-row lines="none">
        <ion-col size="col-2">
          <ion-chip>
            <ng-container
              *ngIf="!post?.likedBy.includes(user?._id); else dislikedTemp"
            >
              <ion-button
                (dblclick)="showReactions($event)"
                (click)="like(post, $event.target)"
                shape="round"
                fill="clear"
                size="large"
              >
                <img
                  src="../../../../assets/iconPost/{{ post?.iconLike }}.svg"
                  class="iconstyle"
                  id="icon_liked"
                />
                <sub>{{ post?.likes }} </sub>
              </ion-button>
            </ng-container>
            <ng-template #dislikedTemp>
              <ion-button
                (dblclick)="showReactions($event)"
                (click)="disLike(post, $event.target)"
                shape="round"
                fill="clear"
                size="large"
              >
                <img
                  src="../../../../assets/iconPost/{{ post?.iconLike }}.svg"
                  id="icon_like"
                />
                <sub>{{ post?.likes }} </sub>
              </ion-button>
            </ng-template>
          </ion-chip>
        </ion-col>
        <ion-col style="text-align: end">
          <ion-chip>
            <ion-button
              (click)="presentModal(post)"
              shape="round"
              fill="clear"
              size="large"
            >
              <img
                class="iconstyle"
                src="../../../../assets/iconPost/icon_comment.svg"
              />
              <sub>{{ comments?.length }}</sub>
            </ion-button>
            <ng-container *ngIf="!bookmarked; else unbook">
              <ion-button
                (click)="bookmark(post)"
                shape="round"
                fill="clear"
                size="large "
              >
                <img
                  class="iconstyle"
                  src="../../../../assets/iconPost/icon_bookmark.svg"
                />
                <sub>{{ post?.favorisNb }}</sub>
              </ion-button>
            </ng-container>
            <ng-template #unbook>
              <ion-button
                (click)="unBookmark(post)"
                shape="round"
                fill="clear"
                size="large "
              >
                <img
                  class="iconstyle"
                  src="../../../../assets/iconPost/icon_bookmarked.svg"
                />
                <sub>{{ post?.favorisNb }}</sub>
              </ion-button>
            </ng-template>
            <ion-button
              (click)="share(post)"
              shape="round"
              fill="clear"
              size="large "
            >
              <img
                class="iconstyle"
                src="../../../../assets/iconPost/icon_share.svg"
              />
              <sub>{{ post?.sharedeNb }}</sub>
            </ion-button>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-col>

    <ion-col size="12">
      <ion-title
        style="
          background-image: linear-gradient(
            119deg,
            rgba(92, 99, 91, 1) 0%,
            rgba(36, 114, 56, 1) 35%,
            rgb(169, 194, 26) 100%
          );
        "
      >
        <h5 style="color: white">{{ mediafiles[0]?.createdAt }}</h5>
      </ion-title>
    </ion-col>
  </ion-row>
</ion-content>
