<ion-content>

  <ion-row style="height: 100px; align-items:center;">
    

    <ion-avatar id='avatarPub'>
      <img [src]="coachInfo.profileImage">
  </ion-avatar>
  
  <div id='identText'>
    <h4>Nom prenom</h4>
    <h5>Coach Sportif </h5>
   
  </div>
  
  
  </ion-row>
  <ion-row>
  <ion-item style="width: 100%;">
    <ion-textarea placeholder="Enter more information here..."></ion-textarea>
  </ion-item>
  </ion-row> 
  
  <ion-row>
  <ion-col size="3">
  <img src="/assets/iconPost/icon_like.svg"  class="postButton" /> 
  </ion-col>
  <ion-col size="9" id="rightPostMenu">
  <img src="/assets/iconPost/icon_comment.svg"  class="postButton"/> 
  <img src="/assets/iconPost/icon_share.svg"  class="postButton" /> 
  <img src="/assets/iconPost/icon_bookmark.svg"  class="postButton" /> 
  </ion-col>
  </ion-row>


  <ion-row class="bodyFilter">
    <ion-refresher slot="fixed"  >
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
        refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
  
    <!-- <ion-virtual-scroll [items]="posts"> -->
    <ion-card *ngFor="let post of posts;let i=index;"  scrollY="true">
      <app-status [post]="post" [index]="i" [user]="user$"  >
      </app-status>
    </ion-card>
    <!-- </ion-virtual-scroll> -->
  </ion-row>
 
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore()">
  <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
  </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

