$ruler: 16px;
$color-red: #726b6b;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

p{
    font-size : x-small !important;
}
.myFooter{
    border-radius: $ruler*2;
    margin-bottom: 10px;
    box-shadow:  0.25px 0.25px 0.25px 0.25px;
    display:inline-flex;
    justify-content: center;
    font-size: $ruler*3.2;
  }
  .text-input {
    height: auto;
    div.input-wrapper {
      background-color: rgb(109, 12, 12);
      border-radius: 20px;
      textarea.text-input {
        margin-left: 8px;
        //overflow-y: auto;
        //max-height: 100px;
      }
    }
  }