<ion-content>
<ion-row >
      <img src="../../../assets/kidslogin.png" alt="">
</ion-row>
<div>
  <form>
    <div style="margin-left:20px">

    <ion-row>
        <ion-row>
          <ion-col size="2">
          </ion-col>
          <ion-col>

        <input type="email"   placeholder="Adresse email" [(ngModel)]="user.email" ngControl="email" name="email" required  />

      </ion-col>
        </ion-row>
      </ion-row>
      <ion-row>
        <ion-row>
          <ion-col size="2">
          </ion-col>
          <ion-col>
          <input type="password" placeholder="Accés parental" [(ngModel)]="user.password"  ngControl="password" name="password" required />
          </ion-col>
        </ion-row>
      </ion-row>
    </div>
      <ion-row style="margin-bottom: 20px;  justify-content: center;">
      <ion-label style="color:#72c6ec;font-size: x-small;"  (click)="ResetPassword()" >JE N'AI PAS RECUE DE CODE</ion-label>
    </ion-row>
      <button  id="ButtonConnect"  (click)="login()" routerLink="/accueil" class="red" type="submit">
      <strong style="color:white;font-family: initial;"> CONNEXION</strong> </button>
  </form>
</div>
</ion-content>
