<ion-content>
  <ion-row class="container" >

        <ion-img src="../../../assets/kidslogin.png" alt="Avatar" class="image"></ion-img>
        <div class="overlay">
          <div class="img2">
            <img src="https://w7.pngwing.com/pngs/489/253/png-transparent-circular-economy-logo-ellen-macarthur-foundation-circle-company-service-logo.png" alt="Avatar" class="image">
          </div>
        </div>


  </ion-row>

  <div>
    <form [formGroup]="loginForm">
      <div style="margin-top: 15px;">

      <ion-row>
          <ion-row>
            <ion-col size="1">
            </ion-col>
            <ion-col>



            <ion-input type="email" style="margin: 5px;"  autofocus="true" class="form-controll ion-margin-bottom" mdInput formControlName="emailControl"
            [ngClass]="{'error':loginForm.controls['emailControl'].errors && !loginForm.controls['emailControl'].pristine}"
            color="{{loginForm.controls['emailControl'].errors && !loginForm.controls['emailControl'].pristine ? 'warning':'dark'}}"
            placeholder="Adresse Email" name="email" [(ngModel)]="user.email" required >

            <ion-icon style="color: #88ba26;  padding: 15px;" name="pencil-sharp" slot="end"></ion-icon>


          </ion-input>


        </ion-col>
        <ion-col size="1">
        </ion-col>
          </ion-row>
        </ion-row>
        <ion-row>
          <ion-row>
            <ion-col size="1">
            </ion-col>
            <ion-col>

              <ion-input   style="margin: 5px;" type="password" class="form-controll ion-margin-bottom" mdInput placeholder="Mot de passe"
              formControlName="passwordControl" name="password" [(ngModel)]="user.password" required>

              <ion-icon style="color: #88ba26;   padding: 15px;" name="pencil-sharp" item-right></ion-icon>


          </ion-input>

            </ion-col>
            <ion-col size="1">
            </ion-col>
          </ion-row>
        </ion-row>
      </div>
        <ion-row style="margin-bottom: 20px;  justify-content: center;">
        <ion-label style="color:#72c6ec;font-size: x-small;"  (click)="ResetPassword()" >JE N'AI PAS RECUE DE CODE</ion-label>
      </ion-row>
        <button   id="ButtonConnect"  (click)="login()"  class="red" type="submit"  [disabled]=" loginForm.invalid">
        <span style="color:white;font-weight: lighter;  font-family: MyriadPro-Regular;
        "> CONNEXION</span> </button>



    </form>
  </div>
  </ion-content>
