<ion-header [translucent]="true">
  <ion-toolbar background-image=" linear-gradient(135deg,  #8EBF25,#8EBF25,#247238, #247238)">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" style="font-weight: bold;font-size:small ;text-align:center; margin-left: 20xp;"> LANGUE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row style="margin: 15px 15px 15px 15px;">
  <ion-col size="12"  >
    <div style="font-weight: bold;font-size:medium;margin-top: 5px;">
    <p style='font-size:BOLD;color: #247238;'>PARAMETRE LANGUE:</p>
    </div>
  </ion-col>
</ion-row  >
<ion-row>
<ion-col size="1"></ion-col>
<ion-col text-center>
<ion-card  no-padding style="margin: 2px !important; ">
          <ion-card-header>
          <ion-label style="color: grey;font-weight: bold;font-size:smaller;margin-top: 5px;">
          SELECTIONNEZ VOTRE LANGUE
        </ion-label>
          </ion-card-header>
          <ion-card-content>
          <ion-list>
    <ion-radio-group allow-empty-selection="true" (ionChange)="fishyHandler($event)" (ionSelect)="goFish($event)"
      (ionBlur)="leaveFish($event)">
      <ion-list-header>
      </ion-list-header>
      <ion-item lines="none" >
        <ion-label style="color: grey;font-weight: bold;font-size:small;margin-top: 5px;">FRANCAIS</ion-label>
        <ion-radio  slot="start" value="FR" checked></ion-radio>
      </ion-item>
      <ion-item lines="none" >
        <ion-label style="color: grey;font-weight: bold;font-size:small;margin-top: 5px;">ANGLAIS</ion-label>
        <ion-radio slot="start" value="EN"></ion-radio>
      </ion-item> 
      <ion-item lines="none" >
        <ion-label style="color: grey;font-weight: bold;font-size:small;margin-top: 5px;">ESPAGNOL</ion-label>
        <ion-radio slot="start" value="ES"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-row style="    padding-bottom: 30px;padding-top: 30px;">
    <ion-col size="7">
    
    </ion-col>
    <ion-col  size="4">
  <div routerLink="/parametre" class="message-box">
    <div type="submit" class="message-submit">
    <h6 style="font-size: small;color:white; top:0px;    margin-top: 5px;" name="send-outline">OK</h6>
    </div>
  </div>
  </ion-col>
  <ion-col size="1">
    
    </ion-col>
  </ion-row>

        </ion-card-content>
        </ion-card>

        </ion-col>
        <ion-col size="1"></ion-col>
</ion-row>
</ion-content>
<ion-footer >
</ion-footer>
