<app-header title="Aide" [isParam]="true"></app-header>


<ion-content>
  <div class="help-page">
    <h1> Pages d’aide : </h1>

   •	Création d’un compte et d’un nom d’utilisateur:
   <br />
   <br />
   -	Comment créer un compte Smuppy ?<br />
   <br />
   Application Smuppy pour Android et iPhone :
   Téléchargez l’application Smuppy depuis l’App Store (iPhone) ou le Google Play Store (Android) via les liens ci-dessous :
   Play Store : lien
   App Store : lien
   Une fois l’application installée, appuyez sur l’icône Smuppy pour l’ouvrir.
   Appuyez sur S’inscrire avec un e-mail (Android) ou Créer un compte (iPhone), puis saisissez votre adresse e-mail (code de confirmation requis) et appuyez sur Suivant.
   Si vous décidez de vous inscrire avec votre adresse e-mail, créez un nom d’utilisateur et un mot de passe, renseignez vos informations de profil, puis appuyez sur Suivant.

   N.B : Si vous vous inscrivez avec votre adresse e-mail, veillez à la saisir correctement et à choisir une adresse e-mail à laquelle vous seul(e) avez accès. Si vous vous déconnectez et oubliez votre mot de passe, vous devrez être en mesure d’accéder à votre adresse e-mail pour récupérer l’accès à votre compte Smuppy.
   <br />
   <br />
   •	Comment mettre à jour les informations de mon profil Smuppy ?<br />  <br />
   Vous devrez être connecter à votre compte pour pouvoir mettre à jour les informations de votre profil.
   Pour mettre à jour les informations de votre profil, notamment votre nom d’utilisateur et l’adresse e-mail associée à votre compte :
   -	Accédez à votre profil. <br />
   -	Appuyez sur Modifier le profil. <br />
   -	Entrez vos informations, puis appuyez sur l’icône Envoyer  <br />
   N’oubliez pas que si votre compte est consulté par un grand nombre de personnes, votre changement de nom d’utilisateur devra éventuellement être examiné. Dans ce cas, vous serez informé(e) dès que nous aurons terminé l’examen. Dans le cas contraire, votre nom d’utilisateur sera immédiatement modifié s’il est disponible. Vos abonnés peuvent être informés de votre changement de nom d’utilisateur
   Certaines informations de profil ne sont visibles que par vous-même. C’est notamment le cas de l’adresse e-mail, du numéro de téléphone et du sexe.
   <br /> <br />
      •	Découvrez ce que vous pouvez faire si vous avez oublié votre mot de passe :<br /> <br />
   Que faire si j’ai oublié mon mot de passe Smuppy ?<br />
   Si vous avez oublié votre mot de passe, vous pouvez le réinitialiser à l’aide de votre adresse e-mail, de votre numéro de téléphone. Si ce n’est pas possible, ouvrez l’application Smuppy pour obtenir de l’aide.

   Réinitialiser votre mot de passe à l’aide de votre adresse e-mail, de votre numéro de téléphone.  <br />

   Pour réinitialiser votre mot de passe, commencez par ouvrir l’application Smuppy. Ensuite : <br />

   -	Sur l’écran de connexion, au-dessus de Se connecter, appuyez sur Mot de passe oublié. <br />
   -	Appuyez sur Nom d’utilisateur ou Téléphone.<br />
   -	Saisissez votre adresse e-mail, votre nom d’utilisateur ou votre numéro de téléphone, puis appuyez sur Suivant.
   <br /> <br />

   •	Que faire si un nom d’utilisateur Smuppy est déjà pris, mais semble inactif ?<br />
   Si le nom d’utilisateur que vous souhaitez utiliser est associé à un compte apparemment inactif, vous pouvez choisir une version disponible du nom d’utilisateur. Vous pouvez ajouter des points, des chiffres, des tirets bas ou des abréviations afin de créer un nom d’utilisateur qui n’a pas encore été pris.

   Pour changer de nom d’utilisateur, modifiez votre profil.  <br />  <br />

   •	Quelle est la politique de Smuppy pour les noms d’utilisateur inactifs ?<br />
   Nous encourageons les personnes à se connecter et à utiliser Smuppy après avoir créé un compte. Pour que votre compte reste actif, assurez-vous de vous connecter et de partager des photos, mais également d’aimer des photos et de les commenter.
   <br />  <br />
   •	Comment désactiver mon compte Smuppy ?<br />
   Lorsque vous désactivez votre compte, votre profil, vos photos, vos commentaires et vos mentions J’aime sont masqués.
   <br />
   Pour désactiver votre compte :<br />
   -	Connectez-vous à Smuppy Cliquez sur Modifier le profil.<br />
   -	Faites défiler l’écran vers le bas et cliquez sur Désactiver mon compte.<br />
   -	Choisissez une option dans le menu déroulant à côté de Pourquoi désactivez-vous votre compte ? <br /> puis saisissez à nouveau votre mot de passe. L’option permettant de désactiver votre compte apparaîtra uniquement lorsque vous aurez sélectionné le motif de la désactivation dans le menu déroulant et saisi à nouveau votre mot de passe.
   Vous devez être en mesure de vous connecter à votre compte pour pouvoir le désactiver temporairement. Si vous avez oublié votre nom d’utilisateur ou votre mot de passe, consultez nos conseils pour vous connecter.
   <br /> <br />
   Si vous ne souhaitez pas désactiver votre compte, mais voulez changer les personnes qui peuvent le voir, vous pouvez définir vos publications comme privées ou bloquer des personnes.
   <br /><br />

   <button class="button-contact" routerLink="/contact"> Contact </button>
   </div>

</ion-content>
