@media (min-width: 414px) {
  ion-tab-button {
    margin: 20px;
    box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.39);
    background: #ffffff;
    border-radius: 10px;
    color: #616160;
    max-width: 110px;
    min-width: 50px;
  }

  .details {
    margin-right: 10px;
    color: white;
    position: absolute;
    align-self: flex-end;
    height: 50px;
    font-size: 20px !important;
  }
}
.myImageUser{
  border-radius: 15px;
  width: 50px;
    height: 50px;
}
ion-segment-button {
  background-color: whitesmoke;
  box-shadow: -4px 3px 7px 2px rgb(0 0 0 / 21%);
  border-radius: 10px;
  margin: 10px;
   width: 110px; 
  min-width: 88px;
  min-height: 10px;
  text-transform: none;
  --indicator-color: none;
  height: 28px;

}

@media (max-width: 414px) {
  ion-tab-button {
    margin: 5px;
    box-shadow: -2px 2px 3px 1px rgba(0, 0, 0, 0.39);
    background: #ffffff;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    color: #616160;
    max-width: 110px;
    min-width: 80px;
  }

  .details {
    margin-right: 10px;
    color: white;
    position: absolute;
    align-self: flex-end;
    height: 50px;
    font-size: 20px !important;
  }

}

@media (max-width: 320px) {
  ion-tab-button {
    margin: 0px;
  }
}

ion-tab-button #middle {
  margin: 10px;
}

ion-tab-button ion-label {
  font-weight: 400;
  font-size: 9.5px;
}

ion-tab-bar .tab-selected {
  background: #f1f2f2;
  color: #616160;
}

ion-tab-bar {
  background: none;
  margin: 10px 20px 10px 20px;
  border-bottom: none;
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  --background: #f8f8f8;
}

ion-textarea {
  background: none;
}

ion-item {
  --background: none;
}

.profileID {
  width: 150px;
  text-align: start;
  color: white;
}

.profileID h4 {
  margin-left: 10px;
}

.profileID ion-avatar {
  margin-left: 30px;
}


.profileContainer {
  flex-direction: column;
  justify-content: flex-end;
  height: 200px;
  background-size: cover;
}

ion-segment-button ion-label {
  font-size: 14px;
}

.segment-button-checked {
  color: var(--color);
  background-color: rgb(230, 230, 230);
}

.mygallery {
  border-radius: 6px;
}
ion-button img.last {
  width: 20px;
}
.imageContainer {
  padding: 5px;
}

#avatarPub {
  width: 50px;
}
.details {
  margin-right: 10px;
  color: white;
  position: absolute;
  align-self: flex-end;
  height: 50px;
  font-size: 10px !important;
}

