<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<app-header title="Chat" [ChatAdulte]="true"></app-header>


<ion-content >

  <div style="background-color: whitesmoke;padding: 5px;">

    <ion-searchbar placeholder="" [(ngModel)]="filterchat"></ion-searchbar>
  </div>

  <div scrollY="true" #maindiv id="scroll-list" [scrollTop]="maindiv.scrollHeight">


    <div class="parttwo" *ngFor="let message of messages2['messages'] | filter : filterchat">

      <div class="friend" *ngIf="message.userSender._id!==user$">
        <div>
          <img
           [src]="apiImgUser + message.userSender.photo" class="imgFriend" />
          <div class="time">
            {{message.createdAt | date:'shortTime'}}
          </div>
          <div id="blockMessagenumbertwo">
            <span class="sent">{{message.content}} </span>
            <div class="sent" *ngFor="let img of message['file_name']">
              <video  *ngIf="getExt(img.filename) === 'mp4'" controls width="100%">
                <source src="{{ apiImgChat + img.filename }}" type="video/mp4" />
              </video>
         
              <img *ngIf="getExt(img.filename) === 'png'||getExt(img.filename) === 'jpeg'||getExt(img.filename) === 'jpg'||getExt(img.filename) === 'gif'" [src]="apiImgChat + img.filename" style="height:100px;width: 100px;" />

              <audio controls  *ngIf="getExt(img.filename) === 'mp3'" controlsList="nodownload" preload="none">
             
                <source src="{{ apiImgChat + img.filename }}" type="audio/mpeg" >
            
              </audio>
            </div>

            <div class="time2">
              {{message.createdDate | date:'shortTime'}}
            </div>
          </div>
        </div>
      </div>


      <div class="memessage" *ngIf="message.userSender._id===user$">
               <span class="sent">{{message.content}}</span>
               <div class="sent" *ngFor="let img of message['file_name']">
                <video  *ngIf="getExt(img.filename) === 'mp4'" controls width="100%">
                  <source src="{{ apiImgChat + img.filename }}" type="video/mp4" />
                </video>
           
                <img *ngIf="getExt(img.filename) === 'png'||getExt(img.filename) === 'jpeg'||getExt(img.filename) === 'jpg'||getExt(img.filename) === 'gif'" [src]="apiImgChat + img.filename" style="height:100px;width: 100px;" />

                <audio controls  *ngIf="getExt(img.filename) === 'mp3'"  controlsList="nodownload" preload="none">
               
                  <source src="{{ apiImgChat + img.filename }}" type="audio/mpeg">
              
                </audio>
              </div>

        <div class="timemoi">
          {{message.createdDate | date:'shortTime'}}
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="height: 44px;">
    <ion-fab-button style="--background	:#ddd;height: 45px;
      width: 45px;">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">

      <ion-fab-button>
        <input type="file" multiple #fileInput (change)="selectFiles($event)" hidden="true" accept="image/jpg, image/png, application/pdf, video/mp4,audio/mpeg,audio/ogg">

        <ion-icon name="camera-outline"(click)=" choosefromphoto()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <input type="file" multiple #fileInput (change)="selectFiles($event)" hidden="true" accept="image/jpg, image/png, application/pdf, video/mp4,audio/mpeg,audio/ogg">

        <ion-icon name="images-outline" (click)=" choosefromphoto()"></ion-icon>
      </ion-fab-button>
    
      
      </ion-fab-list>
    </ion-fab>
 

    <ion-footer class="ion-no-border" slot="fixed">
    
      <ion-row>
        <ion-col >
          <ng-container  *ngFor="let file of selectedPreviews">
            <input type="image" [src]="file" alt="Submit" width="48" height="48">
          </ng-container>
        </ion-col>
   
      </ion-row>

        <ion-row>
          <ion-col   size="auto" size-xs="7" size-md="9" size-lg="9" >
   
            <ion-input type="text" [(ngModel)]="message"></ion-input>

          </ion-col>
          <ion-col  size="auto" size-xs="3">
            <ion-button [disabled]="message===''&&IsimgSelected===0"   (click)="sendMessage()">ENVOYER</ion-button>

          </ion-col>
        </ion-row>
    </ion-footer>





</ion-content>

