<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title
      style="
        background-image: linear-gradient(
          119deg,
          rgba(92, 99, 91, 1) 0%,
          rgba(36, 114, 56, 1) 35%,
          rgb(122, 113, 172) 100%
        );
      "
    ></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"></div>
</ion-content>
