ion-buttons ion-button {
  --border-radius: 50%;
  border-radius: 50%;
  background: #1313131f;
  width: 36px;
  height: 36px;
  // fill-opacity: ;
}


.title-font{
  font-weight: 150;
  font-size: 18px;
}