<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-icon *ngIf="!isModal && isModProfile" color="light" routerLink="/profil" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && BoiteRecepetionKids" color="light" routerLink="/accueil" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && BoiteRecepetion" color="light" routerLink="/menu/tabs/home"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && ChatAdulte" color="light" routerLink="/menu/tabs/home" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && isPalmares" color="light" (click)="BackButtonPalmares()" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && KidsProfile" color="light" routerLink="/accueil" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && SuivrePage" color="light" routerLink="/accueil" name="chevron-back-outline">
      </ion-icon>
      <!--
<ion-icon *ngIf="isDetails" color="light" routerLink="/accueil" name="chevron-back-outline">
      </ion-icon>
    -->
      <ion-icon *ngIf="!isModal  && AdulteProfile" color="light" routerLink="/accueil" name="chevron-back-outline">
      </ion-icon>

      <ion-button shape="rounded" *ngIf="isCoach || isOption" [routerLink]="['/menu/tabs/layouts/scan']"
        routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_scan.png" class="image" alt="">
      </ion-button>

      
      <ion-button shape="rounded" *ngIf="CoachProfileNotConnectedUser" [routerLink]="['/menu/tabs/layouts/scan']"
        routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_scan.png" class="image" alt="">
      </ion-button>


      <ion-buttons slot="start">
        <ion-icon *ngIf="isParam" color="light" routerLink="/menu/tabs/layouts/coachprofile/coachphoto"
          name="chevron-back-outline">
        </ion-icon>
      </ion-buttons>

    </ion-buttons>



    <ion-buttons slot="end" *ngIf="isOptionPageSuivre">

      <ion-button shape="rounded" (click)="openCoachMenu($event)">
        <ion-icon color="light" name="menu"></ion-icon>
      </ion-button>

      <ion-button shape="rounded" [routerLink]="['/menu/tabs/layouts/maps']" routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_position.png" alt="">
      </ion-button>


    </ion-buttons>

    <ion-buttons slot="end" *ngIf="isOption">

      <ion-button shape="rounded" [routerLink]="['/menu/tabs/layouts/maps']" routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_position.png" alt="">
      </ion-button>

    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isEllipsis">
      <ion-button shape="rounded" (click)="openERPModal()">
        <ion-icon color="light" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isCoach">
      <ion-button shape="rounded" (click)="openCoachMenu($event)">
        <ion-icon color="light" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title color="light" *ngIf="isKid" slot="start" style="text-align: center; margin-left: 20xp">
      Accueil</ion-title>


    <ion-buttons>
      <ion-button shape="rounded" *ngIf="isKid" slot="end" [routerLink]="['/activite']"
        routerLinkActive="router-link-active">
        <img src="../../assets/icon/etoile_gris.png" color="light" alt="">
      </ion-button>
    </ion-buttons>

    <ion-title color="light" class="ion-text-center title-font">
      {{title}}</ion-title>

  </ion-toolbar>

</ion-header>