<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon *ngIf="!isModal && isModProfile" color="light" routerLink="/profil" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && BoiteRecepetionKids" color="light" routerLink="/tabsKids/accueil"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && BoiteRecepetion" color="light" routerLink="/menu/tabs/home"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="isKidPlanning" color="light" routerLink="/tabsKids/profilkids/{{userid}}"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="isPages" color="light" routerLink="/tabs/community"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="isPage" color="light" routerLink="/tabs/community"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="isStatus" color="light" routerLink="/tabsKids/profilkids/{{userid}}"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && ChatAdulte" color="light" routerLink="/menu/tabs/home" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && ChatKids" color="light" routerLink="/tabsKids/boitereceptionkids" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && isPalmares" color="light" (click)="backButtonPalmares()" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && KidsProfile" color="light" routerLink="/tabsKids/accueil"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && SuivrePage" color="light" routerLink="/tabsKids/accueil" name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="!isModal && AdulteProfile" color="light" routerLink="/tabsKids/accueil"
        name="chevron-back-outline">
      </ion-icon>
      <ion-icon *ngIf="isCommunityCreate" color="light" routerLink="/tabs/community" name="chevron-back-outline">
      </ion-icon>
      <ion-button shape="rounded" *ngIf="isCoach || isOption" [routerLink]="['/menu/tabs/layouts/scan']"
        routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_scan.png" class="image" alt="">
      </ion-button>
      <ion-button shape="rounded" *ngIf="CoachProfileNotConnectedUser" [routerLink]="['/menu/tabs/layouts/scan']"
        routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_scan.png" class="image" alt="">
      </ion-button>
      <ion-buttons slot="start">
        <ion-icon *ngIf="isParam" color="light" routerLink="/parametre"
          name="chevron-back-outline">
        </ion-icon>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-icon *ngIf="inParam" color="light" routerLink="/menu/tabs/layouts/coachprofile/{{userid}}/me"
          name="chevron-back-outline">
        </ion-icon>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-icon *ngIf="isSaved" color="light" routerLink="/menu/tabs/layouts/coachprofile/{{userid}}/me"
          name="chevron-back-outline">
        </ion-icon>
      </ion-buttons>
      <div *ngIf="isSaved"  class="savedPosts">
        <ion-icon  color="light"
        name="bookmark-outline">
      </ion-icon>
        Enregistré
      </div>

      
      <ion-buttons>
        <ion-button shape="rounded" *ngIf="isKid" slot="start" [routerLink]="['/activite']"
          routerLinkActive="router-link-active">
          <img src="../../assets/icon/etoile_gris.png" color="light" alt="">
        </ion-button>
      </ion-buttons>
    </ion-buttons>
    <ion-buttons slot="end"  (click)="openSearch()">
      <ion-button shape="rounded" routerLinkActive="router-link-active">
        <img style="width: 20px;height:20px" src="../../assets/svg/search.svg" alt="">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isOptionPageSuivre">
      <ion-button shape="rounded" (click)="openCoachMenu($event)">
        <ion-icon color="light" name="menu"></ion-icon>
      </ion-button>
      <ion-button shape="rounded" [routerLink]="['/menu/tabs/layouts/maps']" routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_position.png" alt="">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isOption">
      <ion-button shape="rounded" [routerLink]="['/menu/tabs/layouts/maps']" routerLinkActive="router-link-active">
        <img src="../../assets/icon/icon_position.png" alt="">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isEllipsis">
      <ion-button shape="rounded" (click)="openERPModal()">
        <ion-icon color="light" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isCoach">
      <ion-button shape="rounded" (click)="openCoachMenu($event)">
        <ion-icon color="light" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" *ngIf="isKid" class="ion-text-center">
      Accueil</ion-title>
      <ion-title color="light" *ngIf="isPages" class="ion-text-center">
        Pages</ion-title>
        <ion-title color="light" *ngIf="isPage" class="ion-text-center">
          Page</ion-title>
      <ion-title color="light" *ngIf="isStatus" class="ion-text-center">
        Post</ion-title>
    <ion-title color="light" *ngIf="BoiteRecepetion" class="ion-text-center">
      Boite réception</ion-title>
      <ion-title color="light" *ngIf="isKidPlanning" class="ion-text-center">
        Calendrier</ion-title>
    <ion-title color="light" class="ion-text-center title-font">
      {{title}}</ion-title>
  </ion-toolbar>
</ion-header>
