<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="close()" *ngIf="isModal">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-menu-button color="light" *ngIf="!isModal && !isDetails"></ion-menu-button>
      <ion-back-button color="light" *ngIf="!isModal && isDetails" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button shape="rounded">
        <img src="../../assets/icon/icon_position.png" alt="">
      </ion-button>
      <ion-button shape="rounded">
        <img src="../../assets/icon/icon_scan.png" alt="">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isEllipsis" >
      <ion-button shape="rounded" (click)="openModal()">
        <ion-icon color="light" name="ellipsis-vertical"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title color="light"> {{title}}</ion-title>
  </ion-toolbar>
</ion-header>
