<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon routerLink="/menu/tabs/home" color="light" name="chevron-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title color="light" style="text-align: center; width: 100%; margin-left: 20xp">
      <div style="display: flex; align-items: center; justify-content: center">
        <ion-icon color="light" name="notifications"></ion-icon>
        <p style="margin-left: 5px">Notifications</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <ion-card *ngFor="let notif of notifications.slice().reverse();let i=index; " scrollY="true" style="
      font-size: 15px;
      width: 100%;
      display: flex;
      align-items: center;
      margin: 4px 0;
      box-shadow: unset;
    "
   >
    <app-notification style="display: flex;justify-content:space-between;align-items:center;width:90%" [notif]="notif" ></app-notification>
  </ion-card>
</ion-content>
