<app-header title="Evennement" [isCommunityCreate]="true"></app-header>
<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <img
    src="https://cdn.w600.comps.canstockphoto.com/zumba-calligraphy-on-watercolor-splash-clipart-vector_csp65099256.jpg"
    alt="">
  <div class="content">
    <div class="eventContent">
      <div class="buttons">
        <button color="white" style="
      box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
      border-radius: 10px;
      margin: 10px 0 0 10px;
      height: 30px;
      width: 80px;
      color: #898b8b;
      background: white" routerLink="/">
          message
        </button>
        <button color="white" style="
        width:120px;
        box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
        border-radius: 10px;
        height: 30px;
        color: #3b8c4f;
        font-weight: bold;
        margin: 10px 0 0 10px;
        background: white" *ngIf="!interrested" (click)="interest()">
            ça m'intéresse
          </button>
          <button style="
          width:120px;
          box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
          border-radius: 10px;
          margin: 10px 0 0 10px;
          height: 30px;
          color: white;
          font-weight: bold;
          background: #3b8c4f" *ngIf="interrested" (click)="notinterested()">
              intéréssé(e)
            </button>
      </div>
      <div (click)="openDropDown()" (blur)="openDropDown()" style="position:relative">
        <div class="threePoints">
          <ion-icon class="button" name="ellipsis-horizontal" style="display: flex;justify-content:center;align-items:center;height:15px"></ion-icon>
        </div>
        <ng-container *ngIf="dropDown">
          <div style="position: absolute;background-color:rgb(243, 243, 243);padding:15px;border-radius:15px;transform:translateX(-130px) translateY(10px);display:flex;flex-direction:column;
          width:150px;color:rgb(168, 168, 168);box-shadow:-5px 5px 10px rgb(113, 113, 113);">
            <span style="font-size: 13px;">Enregistrer</span>
            <span style="font-size: 13px;">Inviter des amis</span>
            <span style="font-size: 13px;">Signaler l'évenement</span>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="description">
      <h3> 300 Participants</h3>
      <div>
        <h6>Evennement de:  &nbsp;</h6>
        <span> NOM prenom</span>
      </div>
      <div>
        <h6>Lieu: &nbsp; </h6>
        <span> Adresse evennement</span>
      </div>
      <div>
        <h6>Durée: &nbsp; </h6>
        <span>  heures</span>
      </div>
      <div>
        <h6>Evennement public:  &nbsp; </h6>
        <span> tout le monde peut participer</span>
      </div>
      <div>
        <h6>Description: </h6>
        <span>
           .......................................................................................................................................
          ...............................................................................................................................................................
          .............................................................</span>
      </div>
    </div>


  </div>

</ion-content>
