<app-header title="contact" [isParam]="true"></app-header>

<ion-content style="background-color: #f1f2f2 !important;">

    <div style="display: flex;align-items:center;justify-content:center;height:100%;margin:0 20px" text-center>
      <ion-card no-padding style="margin: 2px !important; background-color: #f1f2f2;border-radius:10px;box-shadow:rgb(119, 118, 118) 5px 5px 20px">
        <ion-card-header>
          <ion-row>
            <ion-col size="4">
            </ion-col>
            <ion-col size="4">
              <ion-label style="color: green;font-weight: bold;font-size:smaller;margin-top: 5px;">
                CONTACT
              </ion-label>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <input style="font-size: small;" class="MyinputUpdate" type="text" placeholder="NOM"  [(ngModel)]="name"/>
            <input style="font-size: small;" class="MyinputUpdate" type="email" placeholder="EMAIL"  [(ngModel)]="email" />
            <input style="font-size: small;" class="MyinputUpdate" type="text" placeholder="SUJET"  [(ngModel)]="sujet" />
            <ion-textarea style="font-size: small;height:150px" class="MyinputUpdate" type="text" placeholder="MESSAGE" [(ngModel)]="message">
            </ion-textarea>
          </ion-row>
          <ion-row style="    padding-bottom: 30px;padding-top: 30px;">
            <ion-col size="4">
            </ion-col>
            <ion-col size="4">
              <div routerLink="/parametre" class="message-box">
                <div type="submit" class="message-submit" (click)="sendMail()">
                  <h6 style="font-size: small;color:white;margin-top: 5px;" name="send-outline" >Envoyer
                  </h6>
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>
<ion-footer>
</ion-footer>
