<ion-header [translucent]="true">
  <ion-toolbar
    background-image=" linear-gradient(135deg,  #8EBF25,#8EBF25,#247238, #247238)"
  >
    <ion-buttons slot="start" routerLink="/calendar">
      <ion-icon color="light" name="chevron-back-outline"
        ><a routerLink="/calender"></a
      ></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon color="light" name="ellipsis-vertical-outline"></ion-icon>
      <!-- <ion-menu-button color="light"></ion-menu-button> -->
    </ion-buttons>
    <ion-title
      color="light"
      style="
        font-weight: bold;
        font-size: large;
        text-align: center;
        margin-left: 20xp;
      "
    >
      Statistiques</ion-title
    >
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="height: 100%" pager="true">
    <div style="display: flex; flex-direction: column">
      <div
        style="
          display: flex;
          justify-content: space-between;
          padding: 10px 20px 0 20px;
          width: 100%;
          align-items: center;
        "
      >
        <p>Exercices / activités</p>
        <p style="color: rgb(17, 82, 1); font-size: 10px">modifier</p>
      </div>
      <ion-slides pager="true" style="width: 100%; height: 410px">
        <ion-slide
          style="display: flex; flex-direction: column; align-items: center"
        >
          <div style="display: flex; margin-top: 20px">
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-bleu.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-red.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
          </div>
          <div style="display: flex">
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-pulpe.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-violet.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide
          style="display: flex; flex-direction: column; align-items: center"
        >
          <div style="display: flex; margin-top: 20px">
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-bleu.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-red.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
          </div>
          <div style="display: flex">
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-pulpe.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-violet.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
          </div>
        </ion-slide>
        <ion-slide
          style="display: flex; flex-direction: column; align-items: center"
        >
          <div style="display: flex; margin-top: 20px">
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-bleu.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-red.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
          </div>
          <div style="display: flex">
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-pulpe.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
            <div
              style="
                margin: 0 15px 15px 15px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
              "
            >
              <img
                style="width: 160px; height: 160px"
                src="../../assets/imgs/color-violet.png"
                alt=""
              />
              <div
                style="
                  color: white;
                  position: absolute;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  height: 100%;
                  margin-top: 10px;
                "
              >
                <div
                  style="
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding-top: 0;
                  "
                >
                  <img
                    style="width: 30px; z-index: 10"
                    src="../../../assets/icon/etoile_vert.png"
                    alt=""
                  />
                  <p style="font-size: 32px; margin-top: 2px">1.650</p>
                </div>
                <p style="font-size: 13px; padding-bottom: 3px">
                  Total distance
                </p>
              </div>
            </div>
          </div>
        </ion-slide>
        <button
          type="submit"
          float-left
          ion-button
          class="btnPrev"
          (click)="prev()"
        >
          Prev
        </button>
        <button
          type="submit"
          float-right
          ion-button
          class="btnNext"
          (click)="next()"
        >
          Next
        </button>
      </ion-slides>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          width: 100%;
        "
      >
        <div
          style="
            display: flex;
            justify-content: space-between;
            padding: 0 20px 0 20px;
            align-items: center;
          "
        >
          <p>Evolution :</p>
          <p style="color: rgb(17, 82, 1); font-size: 10px">modifier</p>
        </div>
        <img
          src="https://www.calculersonimc.fr/wp-content/uploads/2018/04/e%CC%81volution-IMC-femme.jpg"
          style="height: 200px; align-self: center"
          alt=""
        />
      </div>
    </div>
  </div>
</ion-content>
