

    
<ion-header [translucent]="true"  >
  <ion-toolbar    background-image=" linear-gradient(135deg,  #8EBF25,#8EBF25,#247238, #247238)" >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" style="text-align:center; margin-left: 20xp;" > ERP-SPACE</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

    <ion-grid class="ion-justify-content-center; " >
      <ion-row style="padding-top: 50px; padding-bottom: 50px;">
        <ion-col>
          <div>
          </div>
        </ion-col>
        <ion-col>
          <div>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-avatar >
              <img  
              src="https://www.computerhope.com/jargon/g/guest-user.jpg">
            </ion-avatar>
          </div>
        </ion-col>
        <ion-col>
          <div>
          </div>
        </ion-col>
        <ion-col>
          <div>
          </div>
        </ion-col>
      </ion-row>

 
      
     </ion-grid>
<div class="ContentErpSpace">
  <ion-row class="wrapper">

    <div class="box a"  >
    
    <img style="" src="../../assets/ImgErp/gestion-espace-final.png" alt="" routerLink="/erp/gestion-espace"> 
  </div>
    <div class="box b"  >
  <img style="" src="../../assets/ImgErp/gestion-adherent-final.png" alt="" routerLink="/erp/gestion-adherent" >  
  
  </div>
    <div class="box c"  >
  <img style="" src="../../assets/ImgErp/historique-final.png" alt="" routerLink="/erp/historiqueerp">    
  </div>
    <div class="box d" >
  <img style = "" src="../../assets/ImgErp/gestion-materiel-finalpng.png" alt="" routerLink="/erp/gestion-material">      
  </div>
      <div class="box e"  >
  <img style="" src="../../assets/ImgErp/planning-final.png" alt="" routerLink="/erp/planning">    
  </div>
    <div class="box f"  >
  <img style="" src="../../assets/ImgErp/resource-humaines-final.png" alt="" routerLink="/erp/gestion-effectif">    
    
  </div>
  
    </ion-row>

</div>



</ion-content>

