<ion-content>
  <ion-row class="bodyFilter">
    <ion-refresher slot="fixed">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
        refreshingSpinner="circles" refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>

    <!-- <ion-virtual-scroll [items]="posts"> -->
    <ion-card *ngFor="let post of posts;let i=index;" scrollY="true" style="width : 100%">
      <app-status [post]="post" [index]="i" [user]="user$">
      </app-status>
    </ion-card>
    <!-- </ion-virtual-scroll> -->
  </ion-row>

  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
