<ion-list>
  <ion-item>
    <img src="./assets/iconPost/bookmark.svg" class="ionPopOver">
    <ion-label>
      <h6>Enregistré</h6>
    </ion-label>
  </ion-item>
  <ion-item>
    <img src="./assets/iconPost/icon_megaphone.svg" class="ionPopOver">
    <ion-label>
      <h6>Espace Publicité</h6>
    </ion-label>
  </ion-item>
  <ion-item href="/login-erp" detail="false">
    <img src="./assets/iconPost/icon_erp.svg" class="ionPopOver">
    <ion-label>
      <h6 id='erp'>ERP</h6>
    </ion-label>
  </ion-item>
  <ion-item href="/parametre" detail="false">
    <img src="./assets/iconPost/icon_parametre.svg" class="ionPopOver">
    <ion-label>
      <h6>Paramètres</h6>
    </ion-label>
  </ion-item>
  <ion-item (click)="palamares()" detail="false">
    <img src="./assets/iconPost/icon_parametre.svg" class="ionPopOver">
    <ion-label>
      <h6>Palmarés</h6>
    </ion-label>
  </ion-item>

</ion-list>