ion-item {
  --inner-border-width: 0px;
}

ion-label {
  padding: 0%;
}

h6 {
  font-weight: bold;
  color: #616160;
  font-size: 12px;
}

h6#erp {

  color: #ffca22;
}

.ionPopOver {
  width: 35px;
}

.item-native {
  padding-inline-start: 0 !important;
}

ion-content {
  background-color: transparent;
}

.disconnect {
  color: #3b8c4f;
}
