ion-item{
    --inner-border-width: 0px;
}


h3{
    font-weight: bold;
    color: #616160;
}

h3#erp {
   
    color: #ffca22;
}
h3#dec{
    color: #3b8c4f;
    text-align: center;
}

ion-item{
    --inner-border-width: 0px;
}

.ionPopOver{
    width: 50px;
}