ion-item {
  --inner-border-width: 0px;
}

ion-label {
  padding: 0%;
}

h6 {
  font-weight: bold;
  color: #616160;
  font-size: 12px;
}

h6#erp {

  color: #ffca22;
}

.ionPopOver {
  width: 20px;
  /* margin-right: 5px; */
  margin: 5px;
}

.item-native {
  padding-inline-start: 0 !important;
}

ion-content {
  background-color: transparent;
}

.disconnect {
  color: #3b8c4f;
}


.pop-over-style .popover-content {
  --min-width: 300px !important;
}