<ion-toolbar color="dark">


  <ion-buttons slot="end">
    <ion-button (click)="dismiss()" large>
      <ion-icon name="close-circle-outline" size="large"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf="!inviteByText">
  <ion-item>
    <ion-title>Email de votre ami(e)</ion-title>
  </ion-item>
  <ion-item>
    <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>


  <ion-item>
    <ion-button (click)="sendMail()" expand="block" fill="clear" shape="round">
      Send Mail
    </ion-button>
  </ion-item>
</ion-content>
<ion-content *ngIf="inviteByText">

  <ion-item>
    <ion-title>Tel de votre ami(e)</ion-title>
    <form>
      <ion-item>
        <ion-label position="stacked">Tel Input</ion-label>
        <ion-intl-tel-input id="phone-number" name="phone-number" [(ngModel)]="phoneNumber"
          #phoneNumberControl="ngModel">
        </ion-intl-tel-input>
      </ion-item>
    </form>
  </ion-item>
  <ion-item>
    <ion-button (click)="sendText()" expand="block" fill="clear" shape="round">
      Send SMS
    </ion-button>
  </ion-item>


</ion-content>