 

  <ion-content   >
 
    <img src="assets/imgs/menuTail.png" class="tail"/>
    <ul class="itemList">
      <li class="itemLi"> <ion-item class="roundedInput">
        <ion-icon name="search" slot="start"></ion-icon>
   
        <ion-input style="height:20px"></ion-input>
        
      </ion-item></li>
     
      <li  class="itemLi"><ion-icon name="person-add" style="margin-right: 10px;"></ion-icon><a href="/erp-space" ><b  class="itemText">Gestion d'espace</b></a>  </li>
      <li class="itemLi"><ion-icon name="stats-chart" style="margin-right: 10px;"></ion-icon><a href="/gestion-effectif"> <b class="itemText">Gestion des resources humaines</b></a></li>
      <li class="itemLi"><ion-icon name="stats-chart" style="margin-right: 10px;"></ion-icon><a href="/gestion-adherent"> <b class="itemText">Gestion d'adherents </b></a></li>
    <li class="itemLi"><ion-icon name="stats-chart" style="margin-right: 10px;"></ion-icon><a href="/gestion-material"><b class="itemText">Gestion d'matériel</b> </a> </li>
      <li class="itemLi" ><ion-icon   name="flag" style="margin-right: 10px;"></ion-icon><a href="/planning"><b class="itemText">Planning</b></a></li>
      <li class="itemLi"><ion-icon name="time" style="margin-right: 10px;"></ion-icon><a href="/historiqueerp"><b class="itemText">Historique</b></a></li>
    </ul>
 
  </ion-content>
  <ion-footer>
  </ion-footer>
  
  

