<ion-header [translucent]="true">
 
</ion-header>
<ion-content  >

  <ul class="itemList">
    <li class="itemLi"><ion-icon name="person-add" style="margin-right: 5px;"></ion-icon><b class="itemText">Gestion d'espace</b></li>
    <li class="itemLi"><ion-icon name="stats-chart" style="margin-right: 5px;"></ion-icon><b class="itemText"> des resources humaines</b></li>
    <li class="itemLi"><ion-icon name="stats-chart" style="margin-right: 5px;"></ion-icon><b class="itemText">Gestion d'adherents </b></li>
    <li class="itemLi"><ion-icon name="stats-chart" style="margin-right: 5px;"></ion-icon><b class="itemText">Gestion d'matériel</b></li>
    <li class="itemLi"><ion-icon name="flag" style="margin-right: 5px;"></ion-icon><b class="itemText">Planning</b></li>
    <li class="itemLi"><ion-icon name="time" style="margin-right: 5px;"></ion-icon><b class="itemText">Historique</b></li>
  </ul>

</ion-content>
<ion-footer>
</ion-footer>