
ion-segment-button {
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 43%);
  margin: 5px 2px;
  height: 30px;
  color: #858484;
  --background-checked: #d8d6d6ab;
  text-transform: none;
  min-height: unset;
  --indicator-color: none;
  min-width: unset;
  font-size: 12px;
}

.créer{
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 43%);
  margin: 0;
  height: 30px;
  text-transform: none;
  min-height: unset;
  min-width: 80px;
  background-color: unset;
  color:#858484 ;
  font-size: 13px;
}

button{
  background-color: white;
  padding: 2px;
  border-radius: 5px;
  color: #858484;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 43%);
  margin: 5px 2px;
  height: 30px;
  font-size: 12px;
}

.swipper-wrapper{
  padding:10px;

}
input:focus{
  outline: unset;
}
.input{
  outline: unset;
  border: none;
  border-bottom: #858484;
  background-color: rgb(241, 241, 241);
}

.createIcom {
  margin-left: 375px;
  color: green;
}
