<div class="img-wrapper">
  <div>
    <ion-row style="height: 40px">
      <ion-col size="3">
        <ion-avatar>
          <img class="myImageUser" src="../../../assets/kidsuser.png" />
        </ion-avatar>
      </ion-col>
      <ion-col
        size="9"
        style="
          margin-left: 35px;
          margin-top: -77px;
        "
      >
        <ion-label
          style="color: gray; margin-top: 45px; font-size: x-small"
          >{{post.user.name}}</ion-label
        >
        <ion-label
          style="color: gray; font-size: xx-small; display: block"
          >{{post.createdAt| date}}</ion-label
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9">
        <ion-label
          style="color: gray; font-size: small; font-weight: bold"
          >{{post.title}}</ion-label
        >
        <ion-label
          style="
            color: gray;
            font-size: x-small;
            display: block;
            width: 250px;
          "
          >{{post.content}}
        </ion-label>
      </ion-col>
    </ion-row>
  </div>
  <img
    style="border-radius: 15px"
    src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/1200px-SpongeBob_SquarePants_character.svg.png"
  />
  <div id="main-content">
    <ion-icon slot="end" name="heart-empty"></ion-icon>
    <ion-row>
      <ion-col size="4">




        <ng-container *ngIf="!post.likedBy.includes(user?._id); else dislikedTemp">

          <ion-icon (click)="like(post)"  name="heart-outline" style="color: red;"></ion-icon>
          <ion-label class="labelnblikes" >{{post.likes}}</ion-label>

        </ng-container>
        <ng-template #dislikedTemp>

          <ion-icon (click)="disLike(post)" style="fill: red;" name="heart"></ion-icon>
          <ion-label class="labelnblikes" >{{post.likes}}</ion-label>

        </ng-template>
      </ion-col>

      <ion-col size="3"> </ion-col>

      <ion-col size="3">
        <ion-icon (click)="presentModal(post)"  name="chatbubble-ellipses-outline"></ion-icon>

        <ion-label class="labelnblikes" >{{comments.length}}</ion-label>


      </ion-col>
      <ion-col size="1">
        <ion-icon name="close"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</div>
