<app-header title="Langue" [isParam]="true"></app-header>

<ion-content style="font-weight: bold;">
  <ion-row style="margin: 15px 15px 15px 15px;">
    <ion-col size="12">
      <div style="font-weight: bold;font-size:medium;margin-top: 5px;">
        <p style='font-size:BOLD;color: #247238;'>PARAMETRE LANGUE:</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>

    <div style="width: 100%;margin:0 15px">
      <ion-card no-padding style="height:170%;box-shadow:5px 5px 15px gray;border-radius:10px">
        <ion-card-header>
          <ion-label style="color: grey;font-weight: bold;margin-top: 5px;">
            SELECTIONNEZ VOTRE LANGUE
          </ion-label>
        </ion-card-header>
        <ion-card-content style="display: flex;flex-direction:column;justify-content:space-between;position:relative">
          <div style="margin-top:20%">
            <div style="display: flex;margin-top:10px;font-size:15px">
              <div *ngIf="lang!=='french'"  style="width: 20px;height: 20px;"></div>
              <img *ngIf="lang==='french'"  style="width: 20px;height:20px;" src="../../../assets/svg/green-tick-language.svg" alt="" />
              <span style="margin-left:15px;" (click)="setFrench()">Français</span>
            </div>
            <div style="display: flex;margin-top:10px;font-size:15px">
              <div *ngIf="lang!=='english'"  style="width: 20px;height: 20px;"></div>
              <img *ngIf="lang==='english'" style="width: 20px;height:20px;" src="../../../assets/svg/green-tick-language.svg" alt="" />
              <span style="margin-left:15px;" (click)="setEnglish()">English</span>
            </div>
            <div style="display: flex;margin-top:10px;font-size:15px">
              <div *ngIf="lang!=='spanish'"  style="width: 20px;height: 20px;"></div>
              <img *ngIf="lang==='spanish'" style="width: 20px;height:20px;" src="../../../assets/svg/green-tick-language.svg" alt="" />
              <span style="margin-left:15px;" (click)="setSpanish()">Espanol</span>
            </div>
          </div>


            <div style="position: absolute;bottom:-100px;right:120px">
              <div routerLink="/parametre" class="message-box">
                <div type="submit" class="message-submit">
                  <h6 style="font-size: small;color:white; top:0px;    margin-top: 5px;" (click)="selectLanguage(lang)" name="send-outline">OK</h6>
                </div>
              </div>
            </div>



        </ion-card-content>
      </ion-card>

    </div>

  </ion-row>
</ion-content>
<ion-footer>
</ion-footer>
