<app-header title="Créer" [isCommunityCreate]="true"></app-header>

<ion-content>
  <ion-grid id="container">
    <p style="margin-left: 10px;">Créer un(e): </p>
    <ion-row>
      <ion-segment (ionChange)="segmentChanged($event)" value="Page">
        <ion-segment-button value="Page">
          <ion-label style="">Page</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Evennement">
          <ion-label style="">Evennement</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="selected === 'Page'" class="page">
    <div>Informations sur la page:</div>
    <ion-item class="pageName">
      <input placeholder="Nom de la page (Obligatoire)" type="" />
    </ion-item>
    <div style="margin-top: 10px; font-size:12px;color:grey;width:90%">Utilisez le nom de votre entreprise, marque ou
      organisation, ou un nom qui explique l'objet de la page</div>
    <ion-item class="pageCategory">
      <input placeholder="Catégorie (Obligatoire)" type="" />
    </ion-item>
    <div style="margin-top: 10px; font-size:12px; color:grey;width:90%">Choisissez une catégorie qui décrit le type de
      l'entreprise, d'organisation ou de sujet que votre page représente</div>

    <ion-item class="description">
      <textarea placeholder="Description" rows=5></textarea>
    </ion-item>
    <div class="buttons">
      <button class="create">Créer</button>
      <button class="cancel">Annuler</button>
    </div>

  </ion-grid>

  <ion-grid *ngIf="selected === 'Evennement'">
    <ion-item class="pageName">
      <input placeholder="Nom de l'evennement (Obligatoire)" type="" />
    </ion-item>
    <ion-row class="eventDate">
      <ion-item class="dateInput">
        <label for="">date de début</label>
        <input placeholder="" type="date" />
      </ion-item>
      <ion-item class="dateInput">
        <label for="">date de fin</label>
        <input placeholder="" type="date" />
      </ion-item>
    </ion-row>
    <ion-row class="eventHour">
      <ion-item class="dateInput">
        <label for="">heure de début</label>
        <input placeholder="" type="date" />
      </ion-item>
      <ion-item class="dateInput">
        <label for="">heure de fin</label>
        <input placeholder="" type="date" />
      </ion-item>
    </ion-row>
    <div (click)="openDropDown()" (blur)="openDropDown()"
      style="display: flex;flex-direction:column; align-items:flex-start;position:relative;border-radius:20px; width:70%; background-color: #F1F2F2;margin:5px;">
      <span style="margin-right:10px; color: #909890;  margin-left:10px">confidentialité</span>
      <div style="margin-left:15px; display:flex;align-items: center; justify-content:space-between;width: 90%; padding:5px">
        <div>
          <ng-container style="display: flex;align-items:center" *ngIf="public;else privacy">
            <img style="width:15px;height:15px; color:#8F978F" src="../../../assets/svg/globe.svg" alt="">
            <span style="color:#8F978F; font-weight:bold;">Public</span>
          </ng-container>
          <ng-template style="display: flex;align-items:center" #privacy>
            <img style="width:15px;height:15px; color:#8F978F" src="../../../assets/svg/lock.svg" alt="">
            <span style="color:#8F978F; font-weight:bold;">Private</span>
          </ng-template>
        </div>
        <div>
          <ng-container *ngIf="dropDown===false;else open">
            <ion-icon style="color:#8F978F" name="chevron-forward-outline"></ion-icon>
          </ng-container>
          <ng-template #open>
            <ion-icon style="color:#8F978F" name="chevron-down-outline"></ion-icon>
          </ng-template>
        </div>
      </div>
      <div *ngIf="dropDown===true;else close">
        <div
          style="position: absolute;padding:12px;width:250px; display:flex;flex-direction:column;z-index:10;background-color:white;
          box-shadow:-5px 5px 10px rgb(113, 113, 113);border-radius:10px;transform:translateX(20px) translateY(3px)">
          <div (click)="private = true;public=false"
            style="display: flex;align-items:center;justify-content:space-between">
            <div style="display:flex;align-items:center;justify-content:space-between">
              <img style="width:20px;height:20px;margin-right:5px" src="../../../assets/svg/lock.svg" alt="">
              <div style="display: flex;flex-direction:column">
                <span style="font-size: 14px; color:#8F978F">Private</span>
                <span style="font-size: 10px;">Only invited people can see the event</span>
              </div>
            </div>
            <ng-container *ngIf="private">
              <img style="width:20px;height:20px" src="../../../assets/svg/check-privacy.svg" alt="">
            </ng-container>
          </div>
          <div (click)="public = true; private=false"
            style="display: flex;align-items:center;justify-content:space-between">
            <div style="display:flex;align-items:center;justify-content:space-between">
              <img style="width:20px;height:20px;margin-right:5px" src="../../../assets/svg/globe.svg" alt="">
              <div style="display: flex;flex-direction:column">
                <span style="font-size:14px;color:#8F978F">Public</span>
                <span style="font-size: 10px;">Anyone can see the event</span>
              </div>
            </div>
            <ng-container *ngIf="public">
              <img style="width:20px;height:20px" src="../../../assets/svg/check-privacy.svg" alt="">
            </ng-container>
          </div>
        </div>
      </div>
      <ng-template #close>
        <div style="position: absolute;"></div>
      </ng-template>

    </div>

    <ion-item class="description">
      <textarea placeholder="Description" rows=5></textarea>
    </ion-item>
    <div class="buttons">
      <button class="create">Créer</button>
      <button class="cancel">Annuler</button>
    </div>
  </ion-grid>
</ion-content>
