
<app-header title="Créer" [isCommunityCreate]="true"></app-header>

<ion-content>
  <ion-grid id="container">
    <p style="margin-left: 10px;">Créer un(e): </p>
    <ion-row>
      <ion-segment (ionChange)="segmentChanged($event)" value="Page">
        <ion-segment-button value="Page">
          <ion-label style="">Page</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Evennement">
          <ion-label style="">Evennement</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="selected === 'Page'" class="page">
    <div>Informations sur la page:</div>
    <ion-item class="pageName">
      <input placeholder="Nom de la page (Obligatoire)" type=""/>
    </ion-item>
    <div  style="margin-top: 10px; font-size:12px;color:grey;width:90%">Utilisez le nom de votre entreprise, marque ou organisation, ou un nom qui explique l'objet de la page</div>
    <ion-item class="pageCategory">
      <input placeholder="Catégorie (Obligatoire)" type=""/>
    </ion-item>
    <div style="margin-top: 10px; font-size:12px; color:grey;width:90%">Choisissez une catégorie qui décrit le type de l'entreprise, d'organisation ou de sujet que votre page représente</div>

    <ion-item class="description">
      <textarea placeholder="Description" rows=5></textarea>
    </ion-item>
    <div class="buttons">
      <button class="create">Créer</button>
      <button class="cancel">Annuler</button>
    </div>

  </ion-grid>

  <ion-grid *ngIf="selected === 'Evennement'">
    <ion-item class="pageName">
      <input placeholder="Nom de l'evennement (Obligatoire)" type=""/>
    </ion-item>
    <ion-row class="eventDate">
      <ion-item class="dateInput">
        <label for="">date de début</label>
        <input placeholder="" type="date"/>
      </ion-item>
      <ion-item class="dateInput">
        <label for="" >date de fin</label>
        <input placeholder="" type="date"/>
      </ion-item>
    </ion-row>
      <ion-row class="eventHour">
      <ion-item class="dateInput">
        <label for="">heure de début</label>
        <input placeholder="" type="date"/>
      </ion-item>
      <ion-item class="dateInput">
        <label for="">heure de fin</label>
        <input placeholder="" type="date"/>
      </ion-item>
    </ion-row>
    <ion-list class="confidentiality">
      <ion-list-header style="background-color: #F1F2F2;">
        <ion-label>
          Confidentialité
        </ion-label>
      </ion-list-header>
      <ion-item style="background-color: #F1F2F2;">
        <ion-select placeholder="" style="background-color: #F1F2F2;">
          <ion-select-option value="Private">Private</ion-select-option>
          <ion-select-option value="Public">Public</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item class="description">
      <textarea placeholder="Description" rows=5></textarea>
    </ion-item>
    <div class="buttons">
      <button class="create">Créer</button>
      <button class="cancel">Annuler</button>
    </div>
  </ion-grid>
</ion-content>
