<ion-header [translucent]="true" style="background-color:rgb(10, 51, 10)">
  <ion-toolbar style="background-color:#247238">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-row style="padding-top: 30px;">
  <ion-col size="1">
  </ion-col>
  <ion-col >
  <ion-label style="color: grey;font-weight: bold;font-size:smaller;margin-top: 5px;">
  Ajouter des fonctionnalités et des avantages exeptionnelles a votre application
  </ion-label>
  </ion-col>
  <ion-col size="1">
  </ion-col>
</ion-row>
<ion-row style="padding-top: 20px;">
  <ion-col size="4">

  </ion-col>
  <ion-col size="4" class="LogoErp">

  <ion-row style="margin-top: 20px;margin-buttom: 100px;  justify-content: center;">
        <ion-avatar (click)="ChangeImage()" >
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOn9Vd__ZtxxYqjbAn2HSBFotatAMCMlTeHA&usqp=CAU">
      </ion-avatar>
      </ion-row>
  </ion-col>
  <ion-col size="4">

  </ion-col>
</ion-row>
<ion-row style="padding-top: 50px !important; ">
  <ion-col size="1"></ion-col>
  <ion-col text-center>
  <ion-card  no-padding style="margin: 0px 0px 0px 0px !important;background-color: #f1f1f1;">
    <ion-card-content>
    <ion-row>
    <input style="font-size: small;"  class="MyinputUpdate" type="email"   placeholder="E-Mail" />
    <input style="font-size: small;"  class="MyinputUpdate" type="email"   placeholder="Mot de passe" />
    </ion-row>
      <ion-row style="padding-bottom: 30px;padding-top: 30px;">
          <ion-col size="3">
          </ion-col>
          <ion-col size="5">
            <div routerLink="/erp-space" class="message-box">
              <div type="submit" class="message-submit">
              <h6 style="font-size: small;color:white;     margin-top: 5px;" name="send-outline">Login</h6>
              </div>
            </div>
          </ion-col>
          <ion-col size="4">
          </ion-col>
      </ion-row>
    </ion-card-content>
      <ion-row>
        <ion-col size="3">
        </ion-col>
        <ion-col >
          <ion-label style="color: grey;font-weight: bold;font-size:small; ">
            Mot de passe oubliée
          </ion-label>
        </ion-col>
        <ion-col size="3">
        </ion-col>
      </ion-row>
  </ion-card>
  </ion-col>
  <ion-col size="1"></ion-col>
</ion-row>
</ion-content>
<ion-footer>
</ion-footer>

