<app-header title="Home" [isOption]="true"></app-header>
<ion-content padding [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div id="container">
    <ion-grid>
      <ion-row  id="rowTabFiltre">
        <ion-col>
          <button
            style="
              box-shadow: 0px 3px 10px  rgba(114, 114, 114, 0.452);
              border-radius: 10px;
              margin: 0 10px;
              height: 30px;
              width: 100px;
              color: #898b8b;
              background: white"
            (click)="getAllPostsByEvent()">
            Tout
        </button>

          <button
            color="white"
            style="
              box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
              border-radius: 10px;
              margin: 0 10px;
              height: 30px;
              width: 100px;
              color: #898b8b;
              background: white"
              routerLink="/menu/tabs/hobbies">
            Favoris
      </button>
          <button
            color="white"
            style="
              box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
              border-radius: 10px;
              margin: 0 10px;
              height: 30px;
              width: 100px;
              color: #898b8b;
              background: white">
            Abonnements
          </button>
        </ion-col>
      </ion-row>
      <ion-row class="bodyFilter">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."
          >
          </ion-refresher-content>
        </ion-refresher>

        <!-- <ion-virtual-scroll [items]="posts"> -->
        <div
          *ngFor="let post of posts;let i=index;"
          [class.focus]="indexPub===i"
          scrollY="true"
        >
          <app-status
            [post]="post"
            [index]="i"
            [user]="user$"
            (disLikeFn)="disLike($event)"
            (likeFn)="like($event)"
          >
          </app-status>
        </div>
        <!-- </ion-virtual-scroll> -->
      </ion-row>
    </ion-grid>
  </div>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
