<app-header title="Home" [isOption]="true"></app-header>
<ion-content padding>
  <div id="container">
    <ion-grid>
      <ion-row id="rowTabFiltre">
        <ion-col>
          <ion-button class="unit" color="white" shape="round" type="button" (click)="getAllPostsByEvent()">
            Tout </ion-button>

          <ion-button routerLink="/menu/tabs/hobbies" class="unit" color="white" shape="round" type="button">
            Favoris </ion-button>
          <ion-button class="unit" color="white" shape="round" type="button">
            Abonnement
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="bodyFilter">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
            refreshingSpinner="circles" refreshingText="Refreshing...">
          </ion-refresher-content>
        </ion-refresher>

        <!-- <ion-virtual-scroll [items]="posts"> -->
        <ion-card *ngFor="let post of posts;let i=index;" [class.focus]="indexPub==i" scrollY="true">
          <app-status [post]="post" [index]="i" [user]="user$" (disLikeFn)="disLike($event)" (likeFn)="like($event)">
          </app-status>
        </ion-card>
        <!-- </ion-virtual-scroll> -->
      </ion-row>
    </ion-grid>
  </div>
  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>