<app-header title="Historique" [isDetails]="true"></app-header>

<ion-content style=" ">

  <div class="container-timeline">
    <ion-virtual-scroll [items]="events" approxItemHeight="320px">
      <ion-row *virtualItem="let event; let i = index" (click)="presentAlertConfirm(i+1)">
        <ion-col size="1">
          <div class="line">

          </div>
          <div style="height:40px; width:40px; " *ngIf="!check(i+1)">
            <img src="assets/IconMenu/emptyCheck.png" class="imageCheck" />
            <b style="position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); color: aliceblue; font-size: 1rem;">{{i+1}}</b>
          </div>
          <div style="height:40px; width:40px; " *ngIf="check(i+1)">
            <img src="assets/IconMenu/check.png" class="imageCheck" />
      
          </div>



        </ion-col>
        <ion-col size="11">

          <ion-card>

            <ion-item text-capitalize>

              <h3> Date : {{ event.date | date: 'yyyy/MM/dd' }} </h3>
            </ion-item>

            <ion-card-content>
              <b> {{ event.titre }} </b>
              <h2>{{ event.description }} </h2>
            </ion-card-content>

          </ion-card>

        </ion-col>


      </ion-row>
    </ion-virtual-scroll>
  </div>

</ion-content>
<ion-footer>
</ion-footer>