<ion-footer class="myFooter">
  <ion-grid>

    <ion-row>

      <ion-col>

        <img [routerLink]="['/profil']" src="../../assets/icon/icon2.png" />

      </ion-col>

      <ion-col>

        <img [routerLink]="['/shearch']" src="../../assets/icon/icon1.png" />

      </ion-col>

      <ion-col>

        <img src="../../assets/icon/icon5.png" />

      </ion-col>

      <ion-col>

        <img [routerLink]="['/boite-reception']" src="../../assets/icon/icon3.png" />

      </ion-col>

      <ion-col>

        <img src="../../assets/icon/icon4.png" />

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>