<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<app-header title="Chat" [ChatAdulte]="true"></app-header>


<ion-content>

  <div style="background-color: whitesmoke;padding: 5px;">

    <ion-searchbar placeholder="" [(ngModel)]="filterchat"></ion-searchbar>
  </div>

  <div scrollY="true" id="scroll-list">


    <div class="parttwo" *ngFor="let message of messages2['messages'] ">

      <div class="friend" *ngIf="message.userSender._id!==user$">
        <div>
          <img
           [src]="apiImgUser + message.userSender.photo" />
                 <div class="time">
            {{message.createdAt | date:'shortTime'}}
          </div>
          <div id="blockMessagenumbertwo">
            <span class="sent">{{message.content}}</span>
            <div class="time2">
              {{message.createdDate | date:'shortTime'}}
            </div>
          </div>
        </div>
      </div>


      <div class="memessage" *ngIf="message.userSender._id===user$"> 
        <span class="sent">{{message.content}}</span>
        <div class="timemoi">
          {{message.createdDate | date:'shortTime'}}
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed" style="height: 44px;">
    <ion-fab-button style="--background	:#ddd;height: 45px;
      width: 45px;">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="camera-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="images-outline"></ion-icon>
      </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="images-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="folder-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>


    <ion-footer class="ion-no-border">
        <ion-row>
          <ion-col   size="auto" size-xs="7" size-md="9" size-lg="9" >
            <ion-input type="text" [(ngModel)]="message"></ion-input>

          </ion-col>
          <ion-col  size="auto" size-xs="3">
            <ion-button [disabled]="message===''"   (click)="sendMessage()">ENVOYER</ion-button>

          </ion-col>
        </ion-row>
    </ion-footer>


 


</ion-content>

