<app-header  [BoiteRecepetion]="true" ></app-header>

<ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <div style="background-color: whitesmoke;padding: 5px;">
    <ion-fab vertical="top" horizontal="end" slot="fixed" style="margin-top: 20px;">
        <ion-fab-button style="--background	:#ddd;   height: 50px;      width: 50px;">
        <img src="../../../../assets/ImgKids/nvx msg-01.svg" alt="">
      </ion-fab-button>
    </ion-fab>

    <ion-searchbar placeholder="" [(ngModel)]="recherche"></ion-searchbar>
  </div>





  <div id="container">

    <ion-row class="BadyFilter">
      <ion-row class="myItem" style="width:95% ; border: 20px !important">
        <ion-col style="    margin-top: 20px;" size="13" size-lg>
          <ion-item-sliding class="item-background-color" *ngFor="let item of users | filter : recherche; let i = index"
            (ionDrag)="logDrag(i)">
            <ion-item class="item-background-color2" routerLink="/chat/{{item.userReceiver._id}}">

              <ion-label>
                <p>
                  <ion-icon style="padding-right:10px" slot="start" name="person"
                    [hidden]="selecteditemIndex===i&&hideicon === true"></ion-icon>
                  {{item.userReceiver.name}}
                </p>
              </ion-label>
              <img style="width:15px ; height :15px" routerLink="/tabs/layouts/coachprofile"
                src="../../assets/icon/connect2.png" />
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option
                style="background-image: linear-gradient(135deg,#247238, #247238,  #8EBF25,#8EBF25) !important">
                <div>
                  <ion-icon style="padding-right:10px" slot="icon-only" name="pencil-outline"></ion-icon>
                  <ion-icon style="padding-right:10px" slot="icon-only" name="heart"></ion-icon>
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </div>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>

        </ion-col>

        <ion-col size="1">
          <ion-row style="background-color:red">

          </ion-row>
        </ion-col>
      </ion-row>

      <ion-infinite-scroll threshold="15%" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-row>


  </div>



</ion-content>
