<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-button (click)="share()" size="small" shape="round" slot="icon-only">
          <img src="../../assets/icon/icon_position.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="share()" size="small" shape="round" slot="icon-only">
          <img src="../../assets/icon/icon_position.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="share()" size="small" shape="round" slot="icon-only">
          <img src="../../assets/icon/icon_position.png" alt="">
        </ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>