<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="share()" fill="clear" id="icon_like"  slots="icon-only">

          <img src="../../../../assets/iconPost/icon_like.svg" />

        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="share()" fill="clear" id="icon_halthere" slots="icon-only">
          <img src="../../../../assets/iconPost/icon_halthere.svg" />
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="share()" fill="clear" id="icon_muscle"  slots="icon-only">

          <img src="../../../../assets/iconPost/icon_muscle.svg" />

        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
