$ruler: 16px;
$color-red: #726b6b;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;
$font-size: 0.9em;

.Item {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 1px 10px -4px #00000094;
  padding: 10px;
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
}

.formLabel {
  color: #616160;
  font-size: $font-size;
}

h5 {
  color: #726b6b;
}

.Annuler {
  width: 100px;
  margin: 5px;
 
  --background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(210, 38, 0, 1) 0%,
    rgba(247, 193, 181, 1) 100%
  );
}
.Enregistrer {
    margin: 5px;
    width: 100px;
    --background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgb(3, 143, 50) 0%,
      rgb(181, 247, 227) 100%
    );
}

.buttonAddContainer{
    display: grid;
    justify-content: center;
}