$ruler: 16px;
$color-red: #726b6b;
$color-bg: #ebecf0;
$color-shadow: #babecc;
$color-white: #fff;
$font-size: 0.9em;

.Item {
  margin: 10px;
  border-radius: 10px;
  box-shadow: 3px 1px 10px -4px #00000094;
  padding: 10px;
}

ion-content {
  --padding-start: 5px;
  --padding-end: 5px;
}

.formLabel {
  color: #616160;
  font-size: $font-size;
}

h5 {
  color: #726b6b;
}

.Annuler {
  width: 100px;
  margin: 5px;
  color: white;
}
.Enregistrer {
    margin: 5px;
    width: 100px;
    --background:rgb(3, 143, 50);
    color: white;
}
.dateItem{

  --padding-start: 0px;
  --padding-end: 0px;
}


ion-datetime .left{
      --padding-start: 0px;
      margin-right: 10px;
}
ion-card-content{
  --padding-inline-start: 10px;
  --padding-inline-end: 10px;
}
.buttonAddContainer{
    display: grid;
    justify-content: center;
}
