

<ion-content>
  <div id="container">


      <ion-row  class="ion-padding-top" style=" justify-content: center;">
        <ion-avatar (click)="ChangeImage()" >
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSOn9Vd__ZtxxYqjbAn2HSBFotatAMCMlTeHA&usqp=CAU">
      </ion-avatar>
      </ion-row>
      <div class="segment">
        <h1>Bienvenue</h1>
      </div>
      <form  >
        <ion-input type="email" class="form-controll ion-margin-bottom"   placeholder="Adresse Email" [(ngModel)]="user.email" ngControl="email" name="email" required  ></ion-input>
        <ion-input type="password" class="form-controll ion-margin-bottom"  placeholder="Mot se passe" [(ngModel)]="user.password"  ngControl="password" name="password" required ></ion-input>
      
      <button  (click)="login()" routerLink="/profil" class="red" type="submit">       CONNEXION</button>

      <div class="segment">
        <button (click)="ConnectFacebook()"  class="unit" type="button"><ion-icon name="logo-facebook"></ion-icon></button>
        <button    class="unit" type="button"><ion-icon name="logo-google"></ion-icon></button>
        <button   [routerLink]="['/signin']" class="unit" type="button"><ion-icon name="log-in-outline"></ion-icon></button>
      </div>



    </form>
    <ion-row style="  justify-content: center;">

    <ion-label class="ion-padding-top" (click)="ResetPassword()" >Mot de passe oublié ?</ion-label>
    </ion-row>

  </div>
</ion-content>
