<ion-content>
  <div id="container">


    <ion-row class="ion-padding-top" style=" justify-content: center;">
      <ion-avatar>
        <img src="../../../assets/imgs/logo.jpg">
      </ion-avatar>
    </ion-row>
    <div class="segment">
      <h1>Bienvenue</h1>
    </div>
    <form [formGroup]="loginForm">
      <ion-input type="email" autofocus="false" class="form-controll ion-margin-bottom" mdInput formControlName="email"
        [ngClass]="{'error':loginForm.controls['email'].errors && !loginForm.controls['email'].pristine}"
        color="{{loginForm.controls['email'].errors && !loginForm.controls['email'].pristine ? 'warning':'primary'}}"
        placeholder="Adresse Email" name="email" required>
      </ion-input>
      <ion-input type={{passwordType}} style="position: relative;" class="form-controll ion-margin-bottom" mdInput placeholder="Mot de passe"
        formControlName="password" name="password" required>
      <ng-container *ngIf="passwordType==='password' else hide" >
        <ion-icon style="color:black;position:absolute;right:20px" (click)="showPassword()" name="eye-off"></ion-icon>
      </ng-container>
      <ng-template #hide>
        <ion-icon style="color:black;position:absolute;right:20px" (click)="hidePassword()" name="eye"></ion-icon>
      </ng-template>

      </ion-input>

      <ion-button (click)="login()" color="transparent" shape="round" [disabled]=" loginForm.invalid" class="red "
        type=" submit">
        CONNEXION
      </ion-button>

      <div class="segment">
        <button (click)="connectFacebook()" class="unit" type="button">
          <ion-icon name="logo-facebook"></ion-icon>
        </button>
        <button class="unit" type="button">
          <ion-icon name="logo-google"></ion-icon>
        </button>
        <button [routerLink]="['/signin']" class="unit" type="button">
          <ion-icon name="log-in-outline"></ion-icon>
        </button>
      </div>



    </form>
    <ion-row style="  justify-content: center;">

      <ion-label class="ion-padding-top" [routerLink]="['/resetpass']">{{ "login.oublie" | translate}}</ion-label>
    </ion-row>
    <ion-row style="  justify-content: center;">

      <ion-label class="ion-padding-top" [routerLink]="['/signin-kids']">{{ "login.enfants" | translate}}</ion-label>
    </ion-row>

  </div>
</ion-content>
