<ion-content>
    <div id="container">


        <ion-row class="ion-padding-top" style=" justify-content: center;">
            <ion-avatar >
                <img
                    src="../../../assets/imgs/logo.jpg">
            </ion-avatar>
        </ion-row>
        <div class="segment">
            <h1>Bienvenue</h1>
        </div>
        <form [formGroup]="loginForm">
            <ion-input type="email" autofocus="true" class="form-controll ion-margin-bottom" mdInput formControlName="emailControl"
                [ngClass]="{'error':loginForm.controls['emailControl'].errors && !loginForm.controls['emailControl'].pristine}"
                color="{{loginForm.controls['emailControl'].errors && !loginForm.controls['emailControl'].pristine ? 'warning':'primary'}}"
                placeholder="Adresse Email" name="email" [(ngModel)]="user.email" required>
            </ion-input>
            <ion-input type="password" class="form-controll ion-margin-bottom" mdInput placeholder="Mot de passe"
                formControlName="passwordControl" name="password" [(ngModel)]="user.password" required></ion-input>

            <ion-button (click)="login()" color="transparent" shape="round" [disabled]=" loginForm.invalid" class="red "
                type=" submit">
                CONNEXION
            </ion-button>

            <div class="segment">
                <button (click)="ConnectFacebook()" class="unit" type="button">
                    <ion-icon name="logo-facebook"></ion-icon>
                </button>
                <button class="unit" type="button">
                    <ion-icon name="logo-google"></ion-icon>
                </button>
                <button [routerLink]="['/signin']" class="unit" type="button">
                    <ion-icon name="log-in-outline"></ion-icon>
                </button>
            </div>



        </form>
        <ion-row style="  justify-content: center;">

            <ion-label class="ion-padding-top" [routerLink]="['/resetpass']">Mot de passe oublié ?</ion-label>
        </ion-row>

    </div>
</ion-content>