<app-header title="PARAMETRES"   [inParam]="true"></app-header>

<ion-content>
  <div class="profileID">
    <ion-avatar>
      <img [src]="apiImg+user?.photo">
    </ion-avatar>
    <h4>{{name}}</h4>
  </div>
  <main class="leaderboard">
    <article class="article" routerLink="/abonnerinviteramis">
      <span class="item">S'ABONNER ET INVITER DES AMIS</span>
    </article>

    <article class="article">
      <span class="item">CONFIDENTIALITE ET SECURITE</span>
    </article>

    <article class="article" routerLink="/politiques-utilisation">
      <span class="item">POLITIQUE D'UTILISATION DES DONNEES</span>
    </article>

    <article class="article" routerLink="/updateprofil">
      <span class="item">MODIFIER PROFIL</span>
    </article>


    <article class="article" routerLink="/securiteconnexion">
      <span class="item">SECURITE ET CONNEXION</span>
    </article>

    <article class="article" routerLink="/langue">
      <span class="item">LANGUE</span>
    </article>

    <article class="article" routerLink="/historiquepersonnel">
      <span class="item">HISTORIQUE PERSONNEL</span>
    </article>

    <article class="article" routerLink="/contact">
      <span class="item">CONTACT</span>
    </article>

    <article class="article" routerLink="/contact">
      <span class="item">AIDE</span>
    </article>

    <article class="article">
      <span class="item">AJOUTER UN COMPTE</span>
    </article>

    <article class="article1" routerLink="/desactivermoncompte">
      <span class="item">DESACTIVER MON COMPTE</span>
    </article>

    <article class="article1" (click)="logout()">
      <span class="deconnexion">DECONNEXION</span>
    </article>
  </main>
</ion-content>
<ion-footer>
</ion-footer>