<app-header title="PARAMETRES" [inParam]="true"></app-header>

<ion-content>
  <div class="profileID">
    <ion-avatar style="height:50px; width:50px" >
      <img [src]="apiImg+user?.photo">
    </ion-avatar>
    <h4> &nbsp;&nbsp; {{name}}</h4>
  </div>
  <div *ngIf="user?.role==='kids'" >
    <main class="leaderboard">
      <div class="article" routerLink="/abonnerinviteramis">
        <img style="width:30px;height:30px" src="../../../assets/svg/invite.svg" alt="">
        <span class="item">S'ABONNER ET INVITER DES AMIS</span>
      </div>

      <div class="article" routerLink="/confidentialite">
        <img style="width:30px;height:30px" src="../../../assets/svg/confident.svg" alt="">
        <span class="item">CONFIDENTIALITE ET SECURITE</span>
      </div>

      <div class="article" routerLink="/politiques-utilisation">
        <img style="width:30px;height:30px" src="../../../assets/svg/politic.svg" alt="">
        <span class="item">POLITIQUE D'UTILISATION DES DONNEES</span>
      </div>

      <div class="article" routerLink="/updateprofil">
        <img style="width:30px;height:30px" src="../../../assets/svg/edit-profil.svg" alt="">
        <span class="item">MODIFIER PROFIL</span>
      </div>


      <div class="article" routerLink="/securiteconnexion">
        <img style="width:30px;height:30px" src="../../../assets/svg/security.svg" alt="">
        <span class="item">SECURITE ET CONNEXION</span>
      </div>

      <div class="article" routerLink="/langue">
        <img style="width:30px;height:30px" src="../../../assets/svg/language.svg" alt="">
        <span class="item">LANGUE</span>
      </div>

      <div class="article" routerLink="/historiquepersonnel">
        <img style="width:30px;height:30px" src="../../../assets/svg/historic.svg" alt="">
        <span class="item">HISTORIQUE PERSONNEL</span>
      </div>

      <div class="article" routerLink="/contact">
        <img style="width:30px;height:30px" src="../../../assets/svg/contact.svg" alt="">
        <span class="item">CONTACT</span>
      </div>

      <div class="article" routerLink="/help">
        <img style="width:30px;height:30px" src="../../../assets/svg/help.svg" alt="">
        <span class="item">AIDE</span>
      </div>

      <div (click)="openDropDown()" (blur)="openDropDown()" class="article">
        <img style="width:30px;height:30px" src="../../../assets/svg/add-account.svg" alt="">
        <span class="item">AJOUTER UN COMPTE</span>
      </div>

      <div class="article1" routerLink="/desactivermoncompte">
        <img style="width:30px;height:30px" src="../../../assets/svg/disactive-account.svg" alt="">
        <span class="item">DESACTIVER MON COMPTE</span>
      </div>

      <div class="article1" (click)="logout()">
        <img style="width:30px;height:30px" src="../../../assets/svg/logout.svg" alt="">
        <span class="deconnexion">DECONNEXION</span>
      </div>
      <ng-container *ngIf="dropDown">
        <div style="position: absolute;background-color:rgb(243, 243, 243);padding:15px;border-radius:15px;bottom:0;display:flex;flex-direction:column;
        width:300px;color:rgb(143, 143, 143);box-shadow:-5px 5px 10px rgb(113, 113, 113);align-items:center">
          <span (blur)="openDropDown()" routerLink="/signin-kids" style="font-size: 15px;margin:10px;font-weight:bold">Se connecter à un compte existant</span>
          <span (blur)="openDropDown()" routerLink="/signin" style="font-size: 15px;margin:10px">Créer un nouveau compte</span>
        </div>
      </ng-container>
    </main>
  </div>
  <div *ngIf="user?.role==='user'" >
    <main class="leaderboard">
      <div class="article" routerLink="/abonnerinviteramis">
        <span class="item">S'ABONNER ET INVITER DES AMIS</span>
      </div>

      <div class="article" routerLink="/confidentialite">
        <span class="item">CONFIDENTIALITE ET SECURITE</span>
      </div>

      <div class="article" routerLink="/politiques-utilisation">
        <span class="item">POLITIQUE D'UTILISATION DES DONNEES</span>
      </div>

      <div class="article" routerLink="/updateprofil">
        <span class="item">MODIFIER PROFIL</span>
      </div>

      <div class="article" routerLink="/securiteconnexion">
        <span class="item">SECURITE ET CONNEXION</span>
      </div>

      <div class="article" routerLink="/langue">
        <span class="item">LANGUE</span>
      </div>

      <div class="article" routerLink="/historiquepersonnel">
        <span class="item">HISTORIQUE PERSONNEL</span>
      </div>

      <div class="article" routerLink="/contact">
        <span class="item">CONTACT</span>
      </div>

      <div class="article" routerLink="/help">
        <span class="item">AIDE</span>
      </div>

      <div (click)="openDropDown()" (blur)="openDropDown()" class="article">
        <span class="item">AJOUTER UN COMPTE</span>
      </div>

      <div class="article1" routerLink="/desactivermoncompte">
        <span class="item">DESACTIVER MON COMPTE</span>
      </div>

      <div class="article1" (click)="logout()">
        <span class="deconnexion">DECONNEXION</span>
      </div>
      <ng-container *ngIf="dropDown">
        <div style="position: absolute;background-color:rgb(243, 243, 243);padding:15px;border-radius:15px;bottom:0;display:flex;flex-direction:column;
        width:300px;color:rgb(143, 143, 143);box-shadow:-5px 5px 10px rgb(113, 113, 113);align-items:center">
          <span (blur)="openDropDown()" routerLink="/login" style="font-size: 15px;margin:10px;font-weight:bold">Se connecter à un compte existant</span>
          <span (blur)="openDropDown()" routerLink="/signin" style="font-size: 15px;margin:10px">Créer un nouveau compte</span>
        </div>
      </ng-container>
    </main>
  </div>
</ion-content>
<ion-footer>
</ion-footer>
