<app-header title="paramétres" [isParam]="true"></app-header>

<ion-content>

  <div>
    <main class="leaderboard__profiles">
      <article routerLink="/abonnerinviteramis" class="leaderboard__profile">
        <span class="leaderboard__name">S'ABONNER ET INVITER DES AMIS</span>
      </article>

      <article class="leaderboard__profile">
        <span class="leaderboard__name">CONFIDENTIALITE ET SECURITE</span>
      </article>

      <article routerLink="/politiques-utilisation" class="leaderboard__profile">
        <span class="leaderboard__name">POLITIQUE D'UTILISATION DES DONNEES</span>
      </article>

      <article routerLink="/updateprofil" class="leaderboard__profile">
        <span class="leaderboard__name">MODIFIER PROFIL</span>
      </article>


      <article routerLink="/securiteconnexion" class="leaderboard__profile">
        <span class="leaderboard__name">SECURITE ET CONNEXION</span>
      </article>

      <article routerLink="/langue" class="leaderboard__profile">
        <span class="leaderboard__name">LANGUE</span>
      </article>

      <article routerLink="/historiquepersonnel" class="leaderboard__profile">
        <span class="leaderboard__name">HISTORIQUE PERSONNEL</span>
      </article>

      <article routerLink="/contact" class="leaderboard__profile">
        <span class="leaderboard__name">CONTACT</span>
      </article>


      <article class="leaderboard__profile">
        <span class="leaderboard__name">AJOUTER UN COMPTE</span>
      </article>

      <article routerLink="/desactivermoncompte" class="leaderboard__profile">
        <span class="leaderboard__name">DESACTIVER MON COMPTE</span>
      </article>

      <article class="leaderboard__profile" (click)="logout()">
        <span class="leaderboard__name">DECONNEXION</span>
      </article>
    </main>
  </div>
</ion-content>
<ion-footer>
</ion-footer>