<app-header title="communauté" [isOption]="true"></app-header>
<ion-content padding [scrollEvents]="true" (ionScroll)="logScrolling($event)">
  <div id="container">
    <ion-grid>
      <ion-row id="rowTabFiltre">
        <ion-col>
          <button
          color="white"
          style="
            box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
            border-radius: 10px;
            margin: 0 10px;
            height: 30px;
            width: 80px;
            color: #898b8b;
            background: white"
            routerLink="/add">
            créer
         </button>
          <button
          color="white"
          style="
            box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
            border-radius: 10px;
            margin: 0 10px;
            height: 30px;
            width: 80px;
            color: #898b8b;
            background: white"
            routerLink="/show-page">
            pages
    </button>
        <button
          color="white"
          style="
            box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
            border-radius: 10px;
            margin: 0 10px;
            height: 30px;
            width: 90px;
            color: #898b8b;
            background: white"
            routerLink="/show-event">
            evennement

        </button>
        </ion-col>
      </ion-row>

      <ion-row class="bodyFilter">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
          <ion-refresher-content
            pullingIcon="chevron-down-circle-outline"
            pullingText="Pull to refresh"
            refreshingSpinner="circles"
            refreshingText="Refreshing..."
          >
          </ion-refresher-content>
        </ion-refresher>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
