
ion-segment-button {
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 43%);
  margin: 5px;
  height: 30px;
  color: #858484;
  --background-checked: #d8d6d6ab;
  text-transform: none;
  min-height: unset;
  --indicator-color: none;
  min-width: unset;
  font-size: 13px;

}
.créer{
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgb(0 0 0 / 43%);
  margin: 0;
  height: 30px;
  text-transform: none;
  min-height: unset;
  min-width: 80px;
  background-color: unset;
  color:#858484 ;
  font-size: 13px;
}
.buttons{
  background-color: white;
  padding: 10px 4px;
  border-radius: 10px;
  text-transform: capitalize;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.562);
}
.button{
  background-color: white;
  padding: 2px;
  border-radius: 10px;
  color:#858484 ;
}

.swipper-wrapper{
  padding:10px;

}
.threePoints {
  width:25px;
  height:25px;
  font-weight:bold;
  background-color: rgb(255, 255, 255);
  border-radius:5px;
  box-shadow:3px 3px 3px rgb(116, 115, 115);
  font-size:15px;
  padding:2.5px 0 0 3px ;
}
