<app-header title="communauté" [isOption]="true"></app-header>
<ion-content padding [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <div style="padding: 20px;">
      <ion-segment style="display:flex; align-items:center;justify-content:space-around;padding:0 40px" (ionChange)="segmentChanged($event)">
        <button
          class="créer"
            routerLink="/add">
            Créer
         </button>
        <ion-segment-button value="Pages">
          Pages
        </ion-segment-button>
        <ion-segment-button value="Evennements">
          Evennements
        </ion-segment-button>
      </ion-segment>
      <div *ngIf="selected === 'Pages'">

        <div *ngFor="let page of myPages"  >
          <app-showpage [page]="page"></app-showpage>
        </div>
      </div>
      <div *ngIf="selected === 'Evennements'">

        <div *ngFor="let event of personalEvents"  >
          <app-one-event [event]="event"></app-one-event>
        </div>
      </div>
    </div>
</ion-content>
