<app-header [isKidPlanning]="true"></app-header>


<ion-content>
  <div style="display: flex; justify-content:space-between;padding:15px">
    <div style="display: flex;">
      <img style="width:40px;margin:0 15px" src="../../../../assets/svg/defaultIcon.svg" alt="">
      <p>username</p>
    </div>
    <select name="" id="">
      <option value="ativité">activité</option>
    </select>
  </div>
  <app-week-slides></app-week-slides>
  <ion-slides pager="true" [options]="slideOptsTwo" #slideWithNav2
          (ionSlideDidChange)="SlideDidChange(sliderTwo, slideWithNav2)" style="height: 140px;">
          <ion-slide *ngFor="let event of events">
            <div class="container">
              <span class="date">{{event.day}}:{{event.date}} {{event.month}} {{event.year}}</span>
              <div class="events" *ngFor="let event of event.events" >
                <span>-{{event.from}}h-{{event.to}}h : {{event.text}}</span>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
        <img style="position: absolute; bottom:0; width:55px;right:0" src="../../../../assets/svg/greenPlus.svg" alt="">
</ion-content>
