.yellow{
  color: #FFAB2B;
}
.green{
  color:#369D98
}
.light-green{
  color:#7BC2BF
}
.separation {
  border-top: 1px dashed #171716;
  width: 60%;
  transform: rotate(90deg);
  position: absolute;
  top: 95px;
}

.days{
  display: flex;
  justify-content: center;
  margin: 10px;
  position: absolute;
  top: -10px;
  text-align: center;
  width: 100%;
}
.day{
  height: 270px;
  width: 12.5%;
  z-index: 0;
  font-size: 10px;
}
select{
  border-radius:50px;
  height:35px;
  padding:5px;
  background-color: #EEEFEF;
  color: #7F867D;
  border: unset;
}
.container{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  background: linear-gradient(45deg, #4B5149 0%, #286029 35%, #8AB211 100%);
  padding: 10px;
  border-radius: 15px;
  align-self: start;
  margin-top: 14px;
}
.date{
  background-color: white;
  border-radius: 17px;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 5px;
  font-size: 15px;
}

.events{
  color: white;
  border-radius: 15px;
  font-size: 13px;
}
ion-slides {
  width: 400px;
  --bullet-background: #C3B5BA;
  --bullet-background-active: linear-gradient(45deg, #4B5149 0%, #286029 35%, #8AB211 100%)
}


