<app-header title="S'ABONNER ET INVITER DES AMIS" [isInviter]="true"></app-header>
<ion-content>
  <div class="NameAndAvatar">

  </div>


  <ion-list>
    <ion-item>
      <ion-icon name="person" class="iconCustom"></ion-icon>
      <h6>
        SUIVRE DES CONTACTS
      </h6>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" class="iconCustom"></ion-icon>
      <h6>
        INVITER VOS AMIS VIA E-MAIL
      </h6>
    </ion-item>
    <ion-item>
      <ion-icon name="chatbubble-outline" class="iconCustom"></ion-icon>
      <h6>
        INVITER VOS AMIS VIA TEXTO
      </h6>
    </ion-item>

  </ion-list>


   


 
 