<p style="display: flex;">
  <img src={{apiImgUser+notif.userOwner.photo}} style="width: 45px;height:45px;object-fit: cover; margin: 2px 7px 0 10px;border-radius:50%" alt="" />
    <p style="
        width: 60%;
        height: 40px;
        margin-right: 10px;
        font-size: smaller;
        display: flex;
        align-items: flex-start;
        justify-content:center;
        flex-direction:column;
      ">
      <ng-container *ngIf="notif.text.includes('anniversaire');else other" >
        <ng-container style="display: flex;flex-direction:column" *ngIf="notif.userOwner.id===notif.reciever.id;else notYou" >
          <span><b style="text-transform: capitalize;">{{notif.userOwner.name}}&nbsp;</b> c'est votre anniversaire </span>
          <span style="opacity: 50%;font-size:12px">{{timeAgo}}</span>
        </ng-container>
        <ng-template style="display: flex;flex-direction:column" #notYou>
          <span><b style="text-transform: capitalize;">{{notif.userOwner.name}}&nbsp;</b> fête son anniversaire</span>
          <span style="opacity: 50%;font-size:12px">{{timeAgo}}</span>
        </ng-template>
      </ng-container>
      <ng-template #other>
        <ng-container *ngIf="notif.text==='a partagé votre status' || notif.text==='a aimé votre status' || notif.text==='a commenté votre status' || notif.text==='a enregistré votre status';else notStatus" >
          <div routerLink="/one-status/{{  notif.postId?.id  }}" style="display: flex;flex-direction:column">
            <span><b style="text-transform: capitalize;">{{notif.userOwner.name}}&nbsp;</b> {{notif.text}}</span>
            <span style="opacity: 50%;font-size:12px">{{timeAgo}}</span>
          </div>
        </ng-container>
        <ng-template #notStatus>
          <span><b style="text-transform: capitalize;">{{notif.userOwner.name}}&nbsp;</b> {{notif.text}}</span>
            <span style="opacity: 50%;font-size:12px">{{timeAgo}}</span>
        </ng-template>

      </ng-template>
    </p>
    <p>
      <ng-container *ngIf="notif.text==='a créé un événnement'">
        <ion-icon style="width: 55px;height:55px;color: #498034" name="calendar"></ion-icon>
      </ng-container>
      <ng-container *ngIf="getExt(mediafiles[0]?.file_name) === 'png'">
        <img style="width: 55px;height:55px;object-fit:cover" src={{apiImg+mediafiles[0]?.file_name}} alt="">
      </ng-container>
      <ng-container *ngIf="notif.text==='vous a envoyé une invitation'">
        <button style="background: linear-gradient(45deg, #4B5149 0%, #286029 35%, #8AB211 100%);padding:5px;color:white;border-radius:5px">Confirmer</button>
      </ng-container>
      <ng-container *ngIf="notif.text.includes('anniversaire')" >
        <img src="../../../assets/svg/birthday-cake.svg" style="width: 55px;height:55px;" name="calendar">
      </ng-container>
    </p>

