<ion-header [translucent]="true">
  <ion-toolbar background-image=" linear-gradient(135deg,  #8EBF25,#8EBF25,#247238, #247238)">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" style="text-align:center; margin-left: 20xp;"> Map</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
<div color="red" style=" border-radius: 10px;   background-color: grey; hight : 100% !important;width : 100% !important;">
<div id="map" style="height:100%;"></div>
</div>
</ion-content>
<ion-footer style="height: 5px !important;">
<ion-toolbar  background-image=" linear-gradient(135deg,  #8EBF25,#8EBF25,#247238, #247238)">
</ion-toolbar>
</ion-footer>
