<app-header title="Map" [isDetails]="true"></app-header>
<ion-content  style="position: relative;" [fullscreen]="true">
  <div style="position: absolute;z-index:10;top:76px;left:20px">
    <ion-searchbar style="width: 80%;" [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place">
    </ion-searchbar>

      <ion-item *ngIf="distantMarkers.length===2" style="margin-left:8px;border-radius:5px;width:90%">
        <ion-label>From :</ion-label>
        <ion-input  >{{startAddress}}</ion-input>
      </ion-item>
      <ion-item *ngIf="distantMarkers.length===2" style="margin-left:8px;border-radius:5px;width:90%;margin-top:5px">
        <ion-label>To :</ion-label>
        <ion-input>{{endAddress}}</ion-input>
      </ion-item>
      <ion-item *ngIf="distantMarkers.length===2" style="margin-left:8px;border-radius:5px;width:90%;margin-top:5px">
        <ion-input>{{dist}}</ion-input>
        <ion-input>{{time}}</ion-input>
        <ion-input>{{travelMode}}</ion-input>
      </ion-item>

    <ion-button color="success" style="margin-left:8px;" (click)="tryGeolocation()">
      <ion-icon name="locate"></ion-icon>
    </ion-button>
    <ion-button *ngIf="distantMarkers.length===2" color="success" style="margin-left:8px;" (click)="setDriving()">
      <ion-icon name="car"></ion-icon>
    </ion-button>
    <ion-button *ngIf="distantMarkers.length===2" color="success" style="margin-left:8px;" (click)="setWalking()">
      <ion-icon name="walk"></ion-icon>
    </ion-button>
  </div>
  <ion-list style="position: absolute;z-index:20;top:130px;width:100%" [hidden]="autocompleteItems.length === 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <div #map id="map"></div>
</ion-content>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-VMPrrhwq2tQrKGcT8mbEpTEmPzAK5y8"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
