<app-header title="Map" [isDetails]="true"></app-header>
<ion-content [fullscreen]="true">
  <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()" placeholder="Search for a place">
  </ion-searchbar>
  <ion-button expand="full" (click)="tryGeolocation()">My position</ion-button>
  <ion-button expand="full" (click)="addMarkers()">Add Markres</ion-button>
  <ion-list [hidden]="autocompleteItems.length == 0">
    <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>
  <div #map id="map"></div>
</ion-content>