ion-menu-button {
  color: var(--ion-color-primary);
}

.dateTitle {
  color: white;
  margin: auto;
  text-align: center;
}

::ng-deep {
  .table {
    border: none !important;
  }

  ion-list .list-md {
    --background: none;
  }
  ion-list .list-ios {
    --background: none;
  }
  .swiper-wrapper {
    align-items: center;
  }

  .monthview-container {
    height: auto !important;
    color: rgb(207, 207, 207) !important;
  }

  .monthview-datetable td,
  .monthview-datetable th {
    border: none !important;
    color: white;
    margin:5px
  }
  .monthview-current {
    color: rgb(24, 82, 10) !important;
  }
  .cal-green {
    padding-top: 0;
    border-radius: 30px;

    background: linear-gradient(
      45deg,
      rgb(239, 239, 245) 0%,
      rgba(33, 116, 56, 1) 0%,
      #8ebf25 100%
    );
  }
  .text-muted {
    color: rgba(255, 0, 0, 0) !important;
    background-color: rgba(255, 255, 255, 0) !important;
  }
  .cal-white {
    padding-top: 0;
    border-radius: 30px;
    background-color: white;
  }

  .monthview-primary-with-event,
  .calendar-event-inner {
    color: #247238;
  }
  .monthview-primary-with-event {
    margin: 3px !important;
    background-color: white !important;
    color: #247238 !important;
    border-radius: 10px;
  }
  .light {
    background-color: rgb(235, 235, 235) !important;
  }

  .dark {
    color: white !important;
    background-color: #5cb13e !important;
    border: 1px solid;
  }

  .item-native {
    background: #ebebeb18;
  }
}

.item-native {
  background: #ebebeb18;
}
.event-indicator {
  background: white;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  display: table-cell;
}
.with-event {
  background-color: none;
  border-radius: 15px;
}

ion-item {
  --background: transparent;
}

.ion-color-primary {
  --ion-color-base: #247238 !important;
  --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
  --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
  --ion-color-contrast-rgb: var(
    --ion-color-primary-contrast-rgb,
    255,
    255,
    255
  ) !important;
  --ion-color-shade: var(--ion-color-primary-shade, #247238) !important;
  --ion-color-tint: var(--ion-color-primary-tint, #247238) !important;
}

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  // grid-auto-rows: minmax(100px, auto);
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
}

.stat {
  margin-left: 10px;
  border-radius: 10px;
  background: #fff;
  font-size: small;
  max-width: 120px;
}


.dateCol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 5px;
}

