ion-menu-button {
    color: var(--ion-color-primary);
}
 

.dateTitle{
    color: white;
    margin: auto;
    text-align: center;
}
 
::ng-deep {

    .table{
        border: none  !important;
    }
    .monthview-container {
        height: auto !important;
        color: rgb(202, 202, 202) !important;
    }
  
 
    .monthview-datetable td, .monthview-datetable th{
        border: none !important;
      }

        .cal   {
        padding-top: 0;
        background: linear-gradient(300deg,  #8EBF25,#8EBF25,#247238, #247238);
    }

    .item-native{
        background: #ebebeb18;
    }
}
.item-native{
    background: #ebebeb18;
}
.event-indicator {
    background: var(--ion-color-success);
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
  }
  .with-event  {
    background-color: none;
    border-radius: 15px;
}
  .ion-color-primary {
    --ion-color-base: #247238 !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56, 128, 255) !important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #247238) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #247238) !important;
}
