<ion-header [translucent]="true">
  <ion-header [translucent]="true">
    <ion-toolbar background-image=" linear-gradient(135deg,  #8EBF25,#8EBF25,#247238, #247238)">
      <ion-buttons slot="start">
        <ion-icon routerLink="/menu/tabs/layouts/coachprofile" color="light" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
      <ion-title color="light"  style="text-align: center; margin-left: 20xp">
        Calendrier</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-header>
<ion-content>
  <ion-card class="MyCard" style="box-shadow: none; margin-top:20px !important;" >
    <ion-card-content [ngClass]="slider ? 'cal-white' : 'cal-green' "  >
      <ion-row style="margin-bottom: 10px">
        <ion-col size="2">
          <ion-avatar [ngClass]="slider? '' : ''">
            <img [src]="apiImg+user$?.photo" />
          </ion-avatar>
        </ion-col>
        <ion-col size="10" style="margin: auto">
          <ion-row>
            <ion-col>
              <h2 [style.color]="slider ? 'black' : 'white'" >{{user$?.name}}</h2>
              <h2 [style.color]="slider ? 'black' : 'white'" >Coach sportif</h2>
            </ion-col>
            <ion-col style="margin-left: 40px;">
              <button
              color="white"
              style="
                box-shadow: 0px 3px 10px rgba(114, 114, 114, 0.452);
                border-radius: 10px;
                margin: 0 10px;
                height: 30px;
                width: 100px;
                color: #898b8b;
                background: white" routerLink="/statistiqueuser" >
                Statistiques
            </button>
            </ion-col>


          </ion-row>

        </ion-col>

      </ion-row>

      <ion-row>
        <!-- Move back one screen of the slides -->
        <ion-col size="2" class="ion-text-center">
          <ion-icon color="light" name="chevron-back-outline" size="large" (click)="back()"></ion-icon>
        </ion-col>
        <ion-col size="8" class="dateTitle" [style.color]="slider ? 'black' : 'white'">
          <h2>{{ viewTitle }}</h2>
        </ion-col>
        <!-- Move forward one screen of the slides -->
        <ion-col size="2" class="ion-text-center">
          <ion-icon color="light" name="chevron-forward-outline" size="large" (click)="next()"></ion-icon>
        </ion-col>
      </ion-row>

      <calendar   [eventSource]="eventSource" [autoSelect]="false" (onTimeSelected)="onTimeSelected($event)"
        [currentDate]="calendar.currentDate" (onTitleChanged)="onViewTitleChanged($event)"
        (onCurrentDateChanged)="onCurrentDateChanged($event)" [showEventDetail]="false"

        >
      </calendar>
    </ion-card-content>
  </ion-card>
  <div class="container" *ngIf="!slider">
    <ion-card *ngFor="let day of eventDays" style="background-color: #edeef8;">
      <ion-card-content>
        <ion-row>
          <ion-col size="2" style="
              background: linear-gradient(
                135deg,
                #247238,
                #247238,
                #8ebf25,
                #8ebf25
              );
              border-radius: 10px;
            ">
            <div class="dateCol">
              <h1 style="text-align: center" [style.color]="slider ? 'black' : 'white'">
                {{getDayName(day-1,selectedMonth+1,selectedYear)}} {{day}}
              </h1>
            </div>
          </ion-col>
          <ng-container>
            <ion-col size="10">
              <ng-container *ngFor="let event of eventSource">
                <ion-row *ngIf="event.startTime.getDate() === day" (click)="openDetailModal(event)">
                  <ion-item style="--background-color: #edeef8;">
                    <h2>
                      {{event.startTime.getHours()
                     < 10?'0':''}}{{event.startTime.getHours()}}:{{event.startTime.getMinutes() < 10?'0':''}}{{event.startTime.getMinutes()}}
                        </h2>
                        <ion-row style="margin-left: 20px">
                          <ion-col size="12" style="height: 20px">
                            <h2><b> {{event.activity}} </b></h2>
                          </ion-col>
                          <ion-col size="12">
                            <p>{{event.notes}}</p>
                          </ion-col>
                        </ion-row>
                  </ion-item>
                </ion-row>
              </ng-container>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-row style="margin: 0px" *ngIf="slider">
    <ion-col size="12">
      <div style="
          text-align: center;

          z-index: 2;
          position: absolute;
          top: 50%;
          left: -15px;
        ">
        <ion-icon (click)="slideBack()" name="chevron-back-circle" size="large"></ion-icon>
      </div>

      <div style="
          text-align: center;

          z-index: 2;
          position: absolute;
          top: 50%;
          right: -15px;
        ">
        <ion-icon (click)="sliedNext()" name="chevron-forward-circle" size="large"></ion-icon>
      </div>
      <ion-slides #slides style="width: 90%">
        <ng-container>
          <ion-slide *ngFor="let day of eventDays">
            <ion-col size="12">
              <ion-card (click)="openList()" style="
                  box-shadow: -3px 5px 18px 5px rgba(0, 0, 0, 0.06);
                  margin: 0px;
                ">
                <ion-card-content style="background-color: #edeef8;">
                  <ion-row>
                    <ion-col size="3" style="
                        background: linear-gradient(
                          135deg,
                          #247238,
                          #247238,
                          #8ebf25,
                          #8ebf25
                        );
                        border-radius: 10px;
                      ">
                      <div class="dateCol">
                        <h1 style="color: aliceblue; text-align: center">
                          {{getDayName(day-1,selectedMonth+1,selectedYear)}}
                          {{day}}
                        </h1>
                      </div>
                    </ion-col>
                    <ion-col size="9">
                      <ng-container *ngFor="let event of eventSource">
                        <ion-row *ngIf="event.startTime.getDate() === day" (click)="openDetailModal(event)">
                          <ion-col size="3">
                            <b>{{event.startTime.getHours()
                              < 10?'0':''}}{{event.startTime.getHours()}}:{{event.startTime.getMinutes() < 10?'0':''}}{{event.startTime.getMinutes()}}
                            </b>
                          </ion-col>
                          <ion-col size="9">
                            <div style="text-align: left">
                              <b>{{event.activity}}</b>
                            </div>
                            <div style="text-align: left">{{event.notes}}</div>
                          </ion-col>
                        </ion-row>
                      </ng-container>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-slide>
        </ng-container>
      </ion-slides>
    </ion-col>
    <div></div>
  </ion-row>
</ion-content>

<ion-footer> </ion-footer>
