<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: white;"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" style="text-align: center; margin-left: 20xp">
      Activité</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centerDiv">
  <ion-row class="ion-align-items-center" >
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-button   style="width: 150px; height: 150px; --background:green;" >
        <div style="position: relative; left: 0; ">
          <ion-icon name="add-circle" style="font-size: xxx-large;"></ion-icon>
          <div>
            <div style="text-align: left;font-size: 15px;margin: 10px;">Ajouter</div>
          </div>
        </div>
      </ion-button>
    </ion-col>

    <ion-col>
         <ion-button   style="width: 150px; height: 150px; --background:#3db2e6;" >
        <div style="position: relative; left: 0; ">
          <ion-icon name="add-circle" style="font-size: xxx-large;"></ion-icon>
          <div>
            <div style="text-align: left;font-size: 15px;margin: 10px;">Cours en ligne</div>
          </div>
        </div>
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-button   style="width: 150px; height: 150px; --background:#e30755;" >
        <div style="position: relative; left: 0; ">
          <ion-icon name="add-circle" style="font-size: xxx-large;"></ion-icon>
          <div>
            <div style="text-align: left;font-size: 15px;margin: 10px;">Jeux en ligne</div>
          </div>
        </div>
      </ion-button>
    </ion-col>
    <ion-col>
         <ion-button   style="width: 150px; height: 150px; --background:#10aea2;" >
        <div style="position: relative; left: 0; ">
          <ion-icon name="add-circle" style="font-size: xxx-large;"></ion-icon>
          <div>
            <div style="text-align: left;font-size: 15px;margin: 10px;">Récompense</div>
          </div>
        </div>
      </ion-button>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col>
    </ion-col>
    <ion-col>
         <ion-button   style="width: 150px; height: 150px; --background:#f49a1a;" >
        <div style="position: relative; left: 0; ">
          <ion-icon name="add-circle" style="font-size: xxx-large;"></ion-icon>
          <div>
            <div style="text-align: left;font-size: 15px;margin: 10px;">Suivi</div>
          </div>
        </div>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button   style="width: 150px; height: 150px; --background:#0d7b34;" >
        <div style="position: relative; left: 0; ">
          <ion-icon name="add-circle" style="font-size: xxx-large;"></ion-icon>
          <div>
            <div style="text-align: center;font-size: 15px;margin: 10px;">Devoirs <br> et Activiés</div>
          </div>
        </div>
      </ion-button>    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</div>
</ion-content>
