 
  <ion-content>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
      <!--  <ion-button (click)="selectImageSource()" large><ion-icon name="create-outline" size="large"></ion-icon></ion-button>
        <ion-button (click)="supprimer(image)" large><ion-icon name="trash-outline" size="large"></ion-icon></ion-button>-->
      </ion-buttons>
 
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()"  large><ion-icon name="close-circle-outline" size="large"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
 
    <ion-row class="ion-justify-content-center">
  
    
   
 
      <ion-col size="12">
      
          
        
        <img *ngIf="image" src="{{apiPost+image}}">
        <video *ngIf="video" controls width="250" ><source src="{{apiPost+video}}" type="video/mp4"></video>
  
      </ion-col>
     
      <ion-col  size="12">
        <ion-title>
          <h5 style="color: white;">{{image?.createdAt | date}}</h5> 
        </ion-title>
      
      </ion-col>
     
    </ion-row>
    
  </ion-content>
  
 
 