<app-header title="désactiver mon compte" [isParam]="true"></app-header>


<ion-content>
  <ion-row>
    <ion-card class="no-padding" style="box-shadow:  0px 0px 0px 0px !important ">
      <ion-card-content>
        <p style="font-size: bold;">
          Bonjour
          Vous pouvez désactiver votre compte. Ce faisant,votre compte sera masqué jusqu'a ce que vous le réactiviez en
          vous reconnectant
        </p>
      </ion-card-content>
    </ion-card>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="7">
      <div style="font-size:small;margin-top: 5px;">
        <p style="color: black;font-weight: bold;font-size:smaller;margin-top: 5px;">
          POURQUOI DESACTIVEZ-VOUS VOTRE COMPTE?</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-list>
        <ion-list-header style="color: black;font-weight: bold;font-size:smaller;margin-top: 5px; ">
          <p style="color: black;font-weight: bold;font-size:smaller;margin-top: 5px;">
            Selectionner:</p>
        </ion-list-header>
        <ion-item>
          <ion-select multiple="false" cancelText="Cancel" okText="OK" [(ngModel)]="reason">
            <ion-select-option value="secondaccount">J'AI CREE UN SECOND COMPTE </ion-select-option>
            <ion-select-option value="utilisation">PROBLEME D'UTILISATION</ion-select-option>
            <ion-select-option value="confidentialite">PROBLEME DE CONFIDENTIALITE </ion-select-option>
            <ion-select-option value="publicite">TROP DE PUBLICITE</ion-select-option>
            <ion-select-option value="autre">AUTRE CHOSE </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="7">
      <div style="font-size:small;margin-top: 5px;">
        <p style="color: black;font-weight: bold;font-size:smaller;margin-top: 5px;">
          VEUILLEZ CONFIRMER VOTRE MOT DE PASSE
        </p>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1">
    </ion-col>
    <ion-col size="10">
      <input style="font-size: small;" class="MyinputUpdate" type="password" placeholder="Mot de passe" [(ngModel)]="passwd" />
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="4">
    </ion-col>
    <ion-col size="7" routerLink="/parametre">
      <div style="font-size:small;margin-top: 5px;">
        <p style="color: green;font-weight: bold;font-size:smaller;margin-top: 5px;" (click)="deact()">Désactiver mon compte</p>
      </div>
    </ion-col>
    <ion-col>
    </ion-col>
  </ion-row>
</ion-footer>
