<ion-toolbar color="white">

</ion-toolbar>
<ion-content>

  <ion-card-content >
  <ion-row>
    <input  class="MyinputUpdate"style="font-size: small;"  type="email"   placeholder="REF CLIENT" [(ngModel)]="facture.refclient"/>
  </ion-row>
  <ion-row>
<ion-col size="6">
<input  class="MyinputUpdate"style="font-size: small;"  type="email"   placeholder="DATE DE DEBUT" [(ngModel)]="facture.datedebut"/>

</ion-col>
<ion-col size="6">
<input  class="MyinputUpdate"style="font-size: small;"  type="email"   placeholder="DATE DE FIN" [(ngModel)]="facture.datefin"/>

</ion-col>


  </ion-row>
  <ion-row>
    <input  class="MyinputUpdate"style="font-size: small;"  type="email"   placeholder="DATE DE LIVRAISON" [(ngModel)]="facture.datelivraison"/>
  </ion-row>
  <ion-row>
    <input  class="MyinputUpdate"style="font-size: x-small;"  type="email"   placeholder="CONDITION DE REGLEMENT (DELAI DE PAIMENT)" [(ngModel)]="facture.conditionreglement"/>
  </ion-row>
  <ion-row>
  <ion-list  style="border:none"class="MyinputUpdate" style="font-size: small;" >
  <ion-item lines="none">
    <ion-select placeholder="MODE DE PAIMENT" style="font-size: small;color:grey;">
      <ion-select-option value="f">PAYER VIA CARTE BANCAIRE</ion-select-option>
      <ion-select-option value="m">PAYMENT EN CHEQUE</ion-select-option>
      <ion-select-option value="N">VIREMENT BANCAIRE</ion-select-option>

    </ion-select>
  </ion-item>
</ion-list>
<ion-list  style="font-size: x-small;" >
<ion-row>
<ion-col size="12">
<ion-item class="mylistfacture">
  <ion-label>
  MONTANT HC

  </ion-label>
  </ion-item>
</ion-col>

</ion-row>

  <ion-item class="mylistfacture">
  <ion-label>
  MONTANT TVA

  </ion-label>
  </ion-item>
  <ion-item class="mylistfacture">
  <ion-label>
  MONTANT TTC

  </ion-label>
  </ion-item>
</ion-list>
  </ion-row>

    </ion-card-content>

    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col size="2">
 
      </ion-col>

      <ion-col size="5"></ion-col>
    </ion-row>
</ion-content>
<ion-footer >
<ion-toolbar color="white">
<ion-row style="padding-bottom: 30px; ">
    <ion-col size="3">
    </ion-col>
    <ion-col  size="3">
    <div (click)="close()" class="message-box">
      <div type="submit" class="message-annule">
      <h6 style="font-size: small;color:white; top:0px;    margin-top: 5px;" name="send-outline">Annuler</h6>
    </div>
    </div>
    </ion-col>
    <ion-col  size="3">
    <div (click)="save()" class="message-box">
      <div type="submit" class="message-submit">
      <h6 style="font-size: small;color:white; top:0px;    margin-top: 5px;" name="send-outline">Enregitrer</h6>
    </div>
    </div>
    </ion-col>
    <ion-col size="3">
    </ion-col>
    </ion-row>
</ion-toolbar>
</ion-footer>