<ion-header [translucent]="true">
  <ion-toolbar background-image=" linear-gradient(135deg,  #8EBF25,#8EBF25,#247238, #247238)">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" style="text-align:center; margin-left: 20xp;"> Accueil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid>
  <ion-row>

    <ion-col sizeLg="4" sizeMd="4" sizeXs="6" *ngFor="let image of [1,2,3,4,5,6,7,8,9]">
      <div class="img-wrapper"  >
        <div > 
          <ion-row>
            <ion-col size="3" >
            <ion-avatar>
        <img class="myImageUser"
            src="../../../assets/kidsuser.png">
        </ion-avatar>
            </ion-col>
            <ion-col size="9" style="margin-left: 35px;
    margin-top: -55px;">
              <ion-label style="color:gray;margin-top:45px;font-size: x-small;">Nassir benali</ion-label>
            </ion-col>
          </ion-row>
        </div>
        <img style="   border-radius: 15px;margin-top: -15px;"
            src="https://upload.wikimedia.org/wikipedia/en/thumb/3/3b/SpongeBob_SquarePants_character.svg/1200px-SpongeBob_SquarePants_character.svg.png">  
            <div id="main-content">
            <ion-icon (click)="addLike(post)" slot="end" name="heart-empty"></ion-icon>
            <ion-row>
            
    <ion-col size="2">
    <ion-icon name="close"></ion-icon>

    </ion-col>
    <ion-col size="2">

    </ion-col>
    <ion-col size="2">
     


    </ion-col>
    <ion-col size="2">

    </ion-col>
    <ion-col size="2">
    <ion-icon name="heart-outline"></ion-icon>

    </ion-col>
  </ion-row>


</div>
          </div>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer class="myFooter" >
  <ion-row>
    <ion-col></ion-col>
    <ion-col>
      <div>
        <img routerLink="/profil" src="../../../assets/IconMenu/iconhome.png" />
      </div>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <div>
        <img routerLink="/shearch" src="../../../assets/IconMenu/iconmessage.png" />
      </div>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <div>
        <img src="../../../assets/IconMenu/iconplus.png" />
      </div>
    </ion-col>
    <ion-col></ion-col>
    <ion-col>
      <div>
        <img routerLink="/boite-reception" src="../../../assets/IconMenu/iconnotif.png" />
      </div>
    </ion-col>
    <ion-col></ion-col>
    <ion-col  routerLink="/profilkids">
      <div>
        <img src="../../../assets/IconMenu/iconmenu.png" />
      </div>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-footer>


