<ion-list lines="none">
  <ion-item>
    <ion-icon
      style="font-size: 30px; margin-right: 10px"
      name="share"
    ></ion-icon>
    Share</ion-item
  >
  <ion-item>
    <ion-icon
      style="font-size: 30px; margin-right: 10px"
      name="bookmark-outline"
    ></ion-icon>
    Save</ion-item
  >
  <ion-item>
    <ion-icon
      style="font-size: 30px; margin-right: 10px"
      name="create"
    ></ion-icon>
    Edit</ion-item
  >
  <ion-item>
    <ion-icon
      style="font-size: 30px; margin-right: 10px"
      name="close"
    ></ion-icon>
    Delete</ion-item
  >
</ion-list>
