<ion-header [translucent]="true" style="background-color:rgb(10, 51, 10)">
  <ion-toolbar style="background-color:#247238">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> ERP</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-row>
  <ion-col size="1">
  </ion-col>
  <ion-col>
  <ion-label>
  Ajouter des fonctionalité et des avantages Exeptionelles a votre application
  </ion-label>
  </ion-col>
  <ion-col size="1">
  </ion-col>
 </ion-row>
 <ion-row>
  <ion-col size="4">
  </ion-col>

  <ion-col size="4" class="MyLogoErp">

  </ion-col>

  <ion-col size="4">
  </ion-col>
 </ion-row>
 <ion-row class="ClassPackPayment">
 
 </ion-row>
 <ion-row class="DescriptionPayment">
 <ion-col size="4">
 
 </ion-col>
 <ion-col size="4">
 <ion-label>
 Une meilleure organisation
 Une Optimisation des temps
 une meilleur rentabilité
 </ion-label>
 </ion-col>
 
 <ion-row>
 <ion-label>
 Paiment 100 $ sur.transaction bancaires cryptées
 </ion-label>
 <p>
 Nous acceptons les cartes de crédit bancaires
 </p>
 </ion-row>
 </ion-row>
</ion-content>
<ion-footer>
<ion-row>
<ion-col size="4">
</ion-col>
<ion-col size="4" routerLink="/login-erp">
<ion-button>
 C'EST PARTI !
 </ion-button> 
</ion-col>
<ion-col size="4">
</ion-col>

</ion-row>

</ion-footer>