<ion-card>
  <ion-item>
    <ion-avatar class="align-item-start">
      <img src="http://placehold.it/75" alt="">
    </ion-avatar>
    <h2>Marty Mcfly</h2>
    <p>November5, 1995</p>
  </ion-item>
  <img src="http://placehold.it/300x200" alt="">
  <ion-card-content>
    <p>Wait a minute Wait a minute Doc, uhhh.... Are you telling me </p>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <ion-button (click)="like()" (press)="showReactions($event)" >
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 likes</div>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button slot="start" fill="clear">
        <ion-icon name="text"></ion-icon>
        <div>4 comments</div>
      </ion-button>
    </ion-col>
    <ion-col slot="center" class="text-center">
      <ion-note>11h ago</ion-note>
    </ion-col>
  </ion-row>
</ion-card>