<ion-card>

  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="http://placehold.it/75">
    </ion-avatar>
    <ion-label>
      <h3>Lorem ipsum</h3>
      <p>dolor sit amet</p>
    </ion-label>
  </ion-item>

  <img src="http://placehold.it/300x200" alt="">
  <ion-card-content>
    <p>Wait a minute Wait a minute Doc, uhhh.... Are you telling me </p>
  </ion-card-content>
  <ion-row>
    <ion-col>
      <ion-button width="200"  (press)="showReactions($event)" >
        <ion-icon name="thumbs-up"    ></ion-icon>
        <!-- <div   (press)="showReactions($event)">12 likes</div> -->
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-button slot="start" fill="clear">
        <ion-icon name="text"></ion-icon>
        <div>4 comments</div>
      </ion-button>
    </ion-col>
    <ion-col slot="center" class="text-center">
      <ion-note>11h ago</ion-note>
    </ion-col>
  </ion-row>
</ion-card>
