.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 67px;
  left: 64px;
}
.box {
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: absolute;
    left: 25px;
}


ion-col {
  margin-top: 12px;
  padding: 22px;}
  ion-searchbar{
    width: 320px;

  }
