<app-header [title]="activityTitle" [isActivityKids]="true">
</app-header>
<ion-content class="content">
  <div class="background">
    <img class="backImage" src="../../../assets/svg/backgroundActivityKids.svg" alt="">
  </div>
  <ion-grid style="height: 100%; display:flex;flex-direction:column;justify-content:space-between;position:relative; ">
    <form [formGroup]="activityKid" style="margin-top:80px">
      <ion-row>
        <div (click)="openDropDown()" (blur)="openDropDown()"
          style="display: flex;flex-direction:column; align-items:flex-start;position:relative;border-radius:20px; width:90%; background-color: #F1F2F2;margin:5px;">
          <span style="margin-right:10px; color: #909890;  margin-left:10px">Catégorie *</span>
          <div
            style="margin-left:15px; display:flex;align-items: center; justify-content:space-between;width: 90%; padding:5px">
            <div>
              <div style="display: flex;align-items:center" *ngIf="jeux;">
                <img style="width:15px;height:15px; color:#8F978F" src="../../../assets/svg/jeux.svg" alt="">
                <span style="color:#8F978F; font-weight:bold;margin-left:5px">Jeux en ligne </span>
              </div>
              <div style="display: flex;align-items:center" *ngIf="cours;">
                <img style="width:15px;height:15px;color:#8F978F" src="../../../assets/svg/cours.svg" alt="">
                <span style="color:#8F978F; font-weight:bold;margin-left:5px">Cours en ligne</span>
              </div>
              <div style="display: flex;align-items:center" *ngIf="devoirs;">
                <img style="width:15px;height:15px; color:#8F978F" src="../../../assets/svg/devoirs.svg" alt="">
                <span style="color:#8F978F; font-weight:bold;margin-left:5px">Devoirs et activités</span>
              </div>
                       <!--

              <div style="display: flex;align-items:center" *ngIf="suivi;">
                <img style="width:15px;height:15px; color:#8F978F" src="../../../assets/svg/suivi.svg" alt="">
                <span style="color:#8F978F; font-weight:bold;margin-left:5px">Suivi</span>
              </div>
    <div style="display: flex;align-items:center" *ngIf="recompense">
                <img style="width:15px;height:15px; color:#8F978F" src="../../../assets/svg/recompense.svg" alt="">
                <span style="color:#8F978F; font-weight:bold;margin-left:5px"> Récompenses</span>
              </div>
         -->
            </div>
            <div>
              <ng-container *ngIf="dropDown === false;else open">
                <ion-icon style="color:#8F978F" name="chevron-forward-outline"></ion-icon>
              </ng-container>
              <ng-template #open>
                <ion-icon style="color:#8F978F" name="chevron-down-outline"></ion-icon>
              </ng-template>
            </div>
          </div>
          <div *ngIf="dropDown===true;else close">
            <div style="position: absolute;padding:12px;width:250px; display:flex;flex-direction:column;z-index:10;background-color:white;
            box-shadow:-5px 5px 10px rgb(113, 113, 113);border-radius:10px;transform:translateX(20px) translateY(3px)">
              <div (click)="cours=true;recompense=false;jeux=false;suivi=false;devoirs=false;
                this.activityKid.patchValue({activite: 'cours' }); "
                style="display: flex;align-items:center;justify-content:space-between">
                <div style="display:flex;align-items:center;justify-content:space-between">
                  <img style="width:20px;height:20px;margin-right:5px" src="../../../assets/svg/cours.svg" alt="">
                  <div style="display: flex;flex-direction:column">
                    <span style="font-size: 14px; color:#8F978F">Cours en ligne</span>
                  </div>
                </div>
                <ng-container *ngIf="cours">
                  <img style="width:20px;height:20px" src="../../../assets/svg/check-privacy.svg" alt="">
                </ng-container>
              </div>
              <div (click)="cours = false;recompense= false;jeux=true;suivi = false;devoirs=false;
              this.activityKid.patchValue({activite: 'jeux' });"
                style="display: flex;align-items:center;justify-content:space-between">
                <div style="display:flex;align-items:center;justify-content:space-between">
                  <img style="width:20px;height:20px;margin-right:5px" src="../../../assets/svg/jeux.svg" alt="">
                  <div style="display: flex;flex-direction:column">
                    <span style="font-size:14px;color:#8F978F">Jeux en ligne</span>
                  </div>
                </div>
                <ng-container *ngIf="jeux">
                  <img style="width:20px;height:20px" src="../../../assets/svg/check-privacy.svg" alt="">
                </ng-container>
              </div>
              <div (click)="cours = false;recompense= false;jeux=false;suivi = false;devoirs=true;
              this.activityKid.patchValue({activite: 'devoirs' }); "
                style="display: flex;align-items:center;justify-content:space-between">
                <div style="display:flex;align-items:center;justify-content:space-between">
                  <img style="width:20px;height:20px;margin-right:5px" src="../../../assets/svg/devoirs.svg" alt="">
                  <div style="display: flex;flex-direction:column">
                    <span style="font-size:14px;color:#8F978F">Devoirs et activités</span>
                  </div>
                </div>
                <ng-container *ngIf="devoirs">
                  <img style="width:20px;height:20px" src="../../../assets/svg/check-privacy.svg" alt="">
                </ng-container>
              </div>
                       <!--
     <div (click)="cours = false;recompense= false;jeux=false;suivi = true;devoirs=false;
              this.activityKid.patchValue({activite: 'suivi' }); "
                style="display: flex;align-items:center;justify-content:space-between">
                <div style="display:flex;align-items:center;justify-content:space-between">
                  <img style="width:20px;height:20px;margin-right:5px" src="../../../assets/svg/suivi.svg" alt="">
                  <div style="display: flex;flex-direction:column">
                    <span style="font-size:14px;color:#8F978F">Suivi</span>
                  </div>
                </div>
                <ng-container *ngIf="suivi">
                  <img style="width:20px;height:20px" src="../../../assets/svg/check-privacy.svg" alt="">
                </ng-container>
              </div>
    <div (click)="cours = false;recompense= true;jeux=false;suivi = false;devoirs=false;
              this.activityKid.patchValue({activite: 'recompense' });  "
                style="display: flex;align-items:center;justify-content:space-between">
                <div style="display:flex;align-items:center;justify-content:space-between">
                  <img style="width:20px;height:20px;margin-right:5px" src="../../../assets/svg/recompense.svg" alt="">
                  <div style="display: flex;flex-direction:column">
                    <span style="font-size:14px;color:#8F978F">Récompenses</span>
                  </div>
                </div>
                <ng-container *ngIf="recompense">
                  <img style="width:20px;height:20px" src="../../../assets/svg/check-privacy.svg" alt="">
                </ng-container>
              </div>
              -->

            </div>
          </div>
          <ng-template #close>
          </ng-template>
        </div>
        <div style="width:100%"  *ngFor="let row of rows;"  >
          <ion-col text-center style="padding-top: 50px ;display:flex;align-self:center ;width:100%" >
            <input class="input-text" type="text" placeholder="Ajoutez un lien"
              formControlName="content">
              <input class="input-text" type="text" placeholder="Titre"
              formControlName="linkTitle">
            <button (click)="confirm()" [disabled]= "validForm"  [ngClass]="activityKid.valid? 'enabled' : 'disabled' ">Ajouter</button>
          </ion-col>
        </div>

      </ion-row>
    </form>
    <div style="bottom:30px;margin-left:340px">
      <button (click)="addInput()" style="background:none"><img class="plus" src="../../../assets/svg/plus-kids.svg" alt="">
      </button>
    </div>

  </ion-grid>
</ion-content>
